<div class="row">
	<div class="col s12 short-row">
		<div class="card cyan lighten-4">
			<div class="card-content">
				<div class="query-header-box valign-wrapper cyan-text text-darken-2">
					<i class="material-icons small">cloud_download</i><p5 class="query-header">Descarga de reportes</p5>
				</div>
				<div class="row">
					<% @months.each do |month| %>
						<div class="col l3 m4 s6">
							<div class="valign-wrapper right extra-padding">
								<span class="p18 right-align right-extra-margin"><%= I18n.l(month.first_day, format: '%B de %Y') %></span>
								<% report = month.violence_report %>
								<a href="<%= url_for(report) %>" target="blank"><%= image_tag "pdf_icon.png", :class => "small-icon-size" %></a>
							</div>
						</div>
					<% end %>							
				</div>
			</div>
		</div>
	</div>
</div>



<!-- DISABLED CAROUSEL -->
<!-- <div class="row top-row valign-wrapper">
	<div class="col s1">
		<i class="material-icons medium right">assignment</i>
	</div>
	<div class="col s11">
		<h5 class=" h5-no-margin">
			<span class="slim"> Reporte mensual de violencia del crimen organizado: </span>
		</h5>
		<h5 class="h5-no-margin">
			<span id="report-carousel-header" class="cyan-text text-accent-4"> <%= I18n.l(@months.first.first_day, format: '%B de %Y') %></span>
		</h5>
	</div>
</div>
<div class="row">
	<div class="cyan lighten-4">
		<div id="violence-report-carousel" class="carousel">
			<% @months.each do |month| %>
				<% report = month.violence_report %>
				<a  class="carousel-item" href="<%= url_for(report) %>" target="blank"> <%= image_tag report.preview(resize: "450 x450") %></a>
			<% end %>
		</div>
	</div>
</div> -->