<div class="row">
  <br>
  <div class="col l5 m8 s12">
    <div class="card paletton-grey">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s12">
            <%= render "shared/lantialogo2" %>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <span class="card-title center">Restablecer contraseña</span>
          </div>
        </div>

        <% if flash[:alert].present? %>
          <div class="row">
            <div class="col s12">
              <div class="card-panel red lighten-5 red-text text-darken-3" style="margin-top:0">
                <%= flash[:alert] %>
              </div>
            </div>
          </div>
        <% end %>

        <%= form_with url: password_reset_path(@token),
              method: :patch,
              local: true,
              authenticity_token: true do |f| %>

        <%# <%= form_with url: password_reset_path(@token), method: :patch do |f| %> %>
          <%= hidden_field_tag :email, @user.mail %>

          <div class="row">
            <div class="col s12 valign-wrapper">
              <%# <i class="material-icons prefix small">vpn_key</i> %>
              <%= password_field_tag :password, nil,
                    required: true,
                    minlength: 7,
                    class: "input-padding white",
                    id: "password-field" %>
            </div>
             <div class="label-row">
                <div class="col s8">
                  <label class="white-text">NUEVA CONTRASEÑA</label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 valign-wrapper">
              <%# <i class="material-icons prefix small">vpn_key</i> %>
              <%= password_field_tag :password_confirmation, nil,
                    required: true,
                    minlength: 7,
                    class: "input-padding white",
                    id: "password-confirmation-field" %>
            </div>
             <div class="label-row">
                <div class="col s8">
                  <label class="white-text">CONFIRMAR CONTRASEÑA</label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="label-row">
              <div style="min-height: 100px;">
                <div class="col s8">
                  <span id="password-helper" class="helper-text red-text text-lighten-2" aria-live="polite"></span>
                </div>
                <div class="col s8">
                  <span id="password-confirmation-helper" class="helper-text red-text text-lighten-2" aria-live="polite"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <div class="input-field valign-wrapper right short-row" style="margin-right: 70px;">
                <button class="btn-floating teal lighten-5" type="submit">
                  <i class="material-icons grey-text text-darken-3">send</i>
                </button>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
  var pwd = document.getElementById('password-field');
  var conf = document.getElementById('password-confirmation-field');
  var pwdHelper = document.getElementById('password-helper');
  var confHelper = document.getElementById('password-confirmation-helper');

  function validatePassword() {
    var val = pwd.value || '';
    var issues = [];
    if (val.length < 7) issues.push('al menos 7 caracteres');
    if (!/\d/.test(val)) issues.push('al menos un número');
    // Si más adelante quieres exigir mayúscula/minúscula, descomenta:
    if (!/[A-Z]/.test(val)) issues.push('al menos una mayúscula');
    if (!/[a-z]/.test(val)) issues.push('al menos una minúscula');

    var msg = issues.length ? ('La contraseña debe tener: ' + issues.join(' , ') + '.') : '';
    pwd.setCustomValidity(msg);           // Mensaje nativo del navegador
    if (pwdHelper) pwdHelper.textContent = msg; // Mensaje en línea
  }

  function validateConfirmation() {
    var msg = (conf.value && conf.value !== pwd.value) ? 'Las contraseñas no coinciden.' : '';
    conf.setCustomValidity(msg);
    if (confHelper) confHelper.textContent = msg;
  }

  ['input','blur'].forEach(function (evt) {
    pwd.addEventListener(evt, validatePassword);
    conf.addEventListener(evt, validateConfirmation);
  });

  // Inicializa mensajes si el navegador autocompleta
  validatePassword();
  validateConfirmation();
  });
</script>


