<% provide :head_tags do %>
	<% if @maps %>
		<%= render "shared/victimmap"%>
	<% end %>
<% end %>
<div class="row freq-row">
	<div id="filter-dashboard" class="col l3 m5 s12 short-row hide-on-med-and-down">
		<% if session[:membership] > 3 %>
			<div class="card paletton-grey">
				<div class="full-height">
					<form id="victim_freq_table" class="freq_filer_form" action="/victims/query" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
						<div class="card-narrow">
							<div class="card-content white-text">
								<%= render "shared/hidefilter"%>
								<div class="row">
									<div cass="col s12">
										<ul class="tabs paletton-red-tabs">
											<li class="tab col s6"><a class="paletton-red-text" href="#victim_freq_params">ANÁLISIS</a></li>
											<li class="tab col s6"><a class="paletton-red-text" href="#victim_freq_filters">FILTROS</a></li>
										</ul>
									</div>
								</div>
								<div class="row">
									<div class="col s9">
										<div class="tall-row valign-wrapper">
											<a href="/victims/new_query" class="reset-values waves-effect waves-light btn-small paletton-grey z-depth-0 p11 bold">Restablecer</a>
										</div>
									</div>
									<%= render "shared/sendmagicbutton" %>
								</div>
								<div id="victim_freq_params">
									<div class="row">
										<div class="col s12">
											<div class="query-header-box valign-wrapper white-text">
												<i class="material-icons small">today</i><p5 class="query-header">Temporal</p5>
											</div>
											<div id="victim_freq_timeframe_selector">
										    	<% @timeFrames.each do |query| %>
													<p class="input-padding">
														<label>
															<input  id="<%= query[:box_id] %>" name="query[freq_timeframe]" value="<%= query[:name] %>" type="radio"
																<% if query[:checked]%>
																	checked
																<% end %>
															/>
															<span class="white-text p12"><%= query[:caption] %></span>
														</label>
													</p>
										    	<% end %>
										    </div>
										</div>
									</div>
									<div id="geo_query_box" class="row">
										<div class="col s12">
										    <div class="query-header-box valign-wrapper white-text">
												<i class="material-icons small">map</i><p5 class="query-header">Geográfico</p5>
											</div>
											<div id="victim_freq_placeframe_selector">
										    	<% @placeFrames.each do |query| %>
													<p class="input-padding">
														<label>
															<input  id="<%= query[:box_id] %>" name="query[freq_placeframe]" value="<%= query[:name] %>" type="radio"
																<% if query[:checked]%>
																	checked
																<% end %>
																<% if query[:box_id] == "county_query_box" %>
																	onclick="M.toast({html: '<%= @county_toast_message %>'})"
																<% end %>
															/>
															<span class="white-text p12"><%= query[:caption] %></span>
														</label>
													</p>
										    	<% end %>
										    </div>
										</div>
								    </div>
									<div id="gender_query_box" class="row">
										<div class="col s12">
										    <div class="query-header-box valign-wrapper white-text">
												<i class="material-icons small">wc</i><p5 class="query-header">Género</p5>
											</div>
											<div id="victim_freq_genderframe_selector">
										    	<% @genderFrames.each do |query| %>
													<p class="input-padding">
														<label>
															<input  id="<%= query[:box_id] %>" name="query[freq_genderframe]" value="<%= query[:name] %>" type="radio"
																<% if query[:checked]%>
																	checked
																<% end %>
															/>
															<span class="white-text p12"><%= query[:caption] %></span>
														</label>
													</p>
										    	<% end %>
										    </div>
										</div>
								    </div>
								</div>
								<div id="victim_freq_filters" class="filter-box">
									<div class="row">
										<div class="col s12">
											<ul class="collapsible z-depth-0">
												<li class="hide">
													<div class="collapsible-header paletton-grey white-text">
														<i class="material-icons tiny">today</i>
														AÑOS
													</div>
													<div id="year_filter_box" class="collapsible-body paletton-grey">
														<div class="row">
															<div class="col s3">
																<%= render "shared/filterbuttons"%>
															</div>
															<div class="col s9 checkbox-scroll">
																<% @years.each do |year|%>
																	<div class="col s6">	
																		<p>
																			<label>
																				<input type="checkbox" name="query[freq_years][]" value="<%= year["id"] %>" 
																					<% if @checkedYears.include? year["id"] %>	
																						checked
																					<% end %>
																				/>
																				<span class="white-text"><%= year["name"] %></span>
																			</label>
																		</p>
																	</div>
																<% end %>
															</div>
														</div>
													</div>
												</li>
												<li id="state-collapsible-tab"
													<% if @paramsCookie[1] == "cityWise" %>
														class="collapsible-disabled"
													<% end %>
												>
													<div class="collapsible-header paletton-grey white-text">
														<i class="material-icons tiny">map</i>
														ESTADOS
													</div>
													<div id="state_filter_box" class="collapsible-body paletton-grey">
														<div class="row">
																<div id="state-select-and-clear-box" class="col s3">
																	<% if @paramsCookie[1] == "countyWise" %>
																		<%= render "shared/disabledfilterbuttons"%>
																	<% else %>
																		<%= render "shared/filterbuttons"%>
																	<% end %>
																</div>
															<div class="col s9 checkbox-scroll">
																<% @states.each do |state|%>
																	<div class="col s6">	
																		<p>
																			<label>
																				<input type="checkbox" name="query[freq_states][]" value="<%= state["id"] %>" 
																					<% if @checkedStates.include? state["id"] %>	
																						checked
																					<% end %>
																				/>
																				<span class="white-text"><%= state["shortname"] %></span>
																			</label>
																		</p>
																	</div>
																<% end %>
															</div>
														</div>
													</div>
												</li>
												<li id="city-collapsible-tab"
													<% unless @paramsCookie[1] == "cityWise" %>
														class="collapsible-disabled"
													<% end %>
												>
													<div class="collapsible-header paletton-grey white-text">
														<i class="material-icons tiny">map</i>
														Z. METRO.
													</div>
													<div id="city_filter_box" class="collapsible-body paletton-grey">
														<div class="row">
															<div class="col s3">
																<%= render "shared/filterbuttons"%>
															</div>
															<div class="col s9 checkbox-scroll">
																<% @cities.each do |city|%>
																	<div class="col s12">	
																		<p>
																			<label>
																				<input type="checkbox" name="query[freq_cities][]" value="<%= city["id"] %>" 
																					<% if @checkedCities.include? city["id"] %>	
																						checked
																					<% end %>
																				/>
																				<span class="white-text"><%= city["name"] %></span>
																			</label>
																		</p>
																	</div>
																<% end %>
															</div>
														</div>
													</div>
												</li>
												<li id="county-collapsible-tab"
	 												<% unless @paramsCookie[1] == "countyWise" %>
														class="collapsible-disabled"
													<% end %>
												>
													<div class="collapsible-header paletton-grey white-text">
														<i class="material-icons tiny">map</i>
														MUNICIPIOS
													</div>	
													<div id="county_filter_box" class="collapsible-body paletton-grey">
														<div class="row">
															<div class="col s3">
																<%= render "shared/filterbuttons"%>
															</div>
															<div id="county_checkboxes_box" class="col s9 checkbox-scroll">
																<% @counties.each do |county| %>
																	<div class="col s12">	
																		<p>
																			<label>
																				<input type="checkbox" name="query[freq_counties][]" value="<%= county["id"] %>" 
																					<% if @checkedCounties.include? county["id"] %>	
																						checked
																					<% end %>
																				/>
																				<span class="white-text"><%= county["name"] %></span>
																			</label>
																		</p>
																	</div>
																<% end %>
															</div>
														</div>
													</div>	
												</li>
												<li  id="gender-collapsible-tab" 
													<% if @paramsCookie[2] == "noGenderSplit" %>
														class="collapsible-disabled"
													<% end %>
												>
													<div class="collapsible-header paletton-grey white-text">
														<i class="material-icons tiny">wc</i>
														GÉNERO
													</div>	
													<div id="city_filter_box" class="collapsible-body paletton-grey">
														<div class="row">
															<div class="col s3">
																<%= render "shared/filterbuttons"%>
															</div>
															<div class="col s9 checkbox-scroll">
																<% @genderOptions.each do |option| %>
																	<div class="col s12">	
																		<p>
																			<label>
																				<input type="checkbox" name="query[freq_gender_options][]" value="<%= option["value"] %>" 
																					<% if @checkedGenderOptions.include? option["value"] %>	
																						checked
																					<% end %>
																				/>
																				<span class="white-text"><%= option["caption"] %></span>
																			</label>
																		</p>
																	</div>
																<% end %>
															</div>
														</div>				
													</div>	
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>	
			</div>
		<% else %>
			<div class="card lantia-place-holder">
				<div class="full-height">
				</div>
			</div>
		<% end %>
	</div>
	<div class="col l9 m12 s12 short-row">
		<div class="header-div">
			<div class="row top-row valign-wrapper">
				<div class="col m8 s12">
					<div class="info-box inline-block">
						<a id="victims-info-modal-trigger" class="modal-trigger" href="#victims-info-modal"><i class="small material-icons paletton-red-text right-min-margin">info</i></a>
					</div>
					<div class="info-box inline-block">
						<h6 class="h5-no-margin p20">Víctimas letales del crimen organizado</h6>
						<%= render "shared/freqdates" %>
					</div>
				</div>
				<div class="col m4 s12">
					<%= render "shared/controlpanel"%>
				</div>
			</div>
		</div>
		<div class="card flex-card">
			<div class="">
				<div class="card-content">
					<div class="row card-narrow">
						<% if session[:membership] > 3 %>
							<%= render "shared/showfilter"%>
						<% end %>					
						<div id="freq-entry-list" class="freq-entry-display"
							<% if @maps %>
								style="display: none;"
							<% end %>
						>
							<% if session[:membership] > 3 %>
								<%= render "shared/downloadbutton" %>
							<% end %>
							<table class="freq-table striped">	
								<%= render "shared/sorttable"%>
							</table>
							<% if @countyWise && session[:checkedCounties] == "states" %>
								<div class="left-medium-margin top-min-margin">
									<p class="p12">*Incluye los municipios en los que se registraron menos de cinco víctimas durante el periodo de cobertura.</p>
								</div>
							<% end %>
						</div>
						<div class="small-inner-padding">
							<div id="freq-entry-map" class="freq-entry-display col s12"
								<% unless @maps %>
									style="display: none;"
								<% end %>
							>
								<div class="col m7 s12">
									<% if @countyWise %>
										<div>
											<a href="/victims/reset_map">
												<img src="/assets//mx-icon.png" class="mexico-icon">
											</a>
										</div>
									<% end %>
									<div id="victim-map">
									</div>
									<div class="hide-on-small-only">
										<% @my_freq_table[1..-2].each do |place| %>
											<% if @countyWise%>
												<div id="<%= place[:full_code]%>-incident-charts" class="state-victim-charts victim-toggle-charts"
													<% unless place[:full_code] == "00000" %>
														style="display:none"
													<% end %>
												>
											<% else %>
												<div id="<%= place[:code]%>-incident-charts" class="state-victim-charts victim-toggle-charts"
													<% unless place[:code] == "00" %>
														style="display:none"
													<% end %>
												>
											<% end %>
												<% unless place[:place_total] == 0 %>
													<% if @countyWise %>
														<% placeKey = place[:full_code] %>
													<% else %>
														<% placeKey = place[:code] %>
													<% end %>
													<p>Incidentes</p>
													<div class="col l3 m6 s6">
														<div class="two-liner-p valign-wrapper">
															<p class="p12 center-align">Masacre</p>
														</div>
														<div id="<%= placeKey %>-massacres-chart" class="center"></div>
													</div>
													<div class="col l3 m6 s6">
														<div class="two-liner-p valign-wrapper">
															<p class="p12 center-align">Enfrentamiento</p>
														</div>
														<div id="<%= placeKey %>-shootings_authorities-chart" class="center"></div>
													</div>
													<div class="col l3 m6 s6">
														<div class="two-liner-p valign-wrapper">
															<p class="p12 center-align">Fosa clandestina</p>
														</div>
														<div id="<%= placeKey %>-mass_graves-chart" class="center"></div>
													</div>
													<div class="col l3 m6 s6">
														<div class="two-liner-p valign-wrapper">
															<p class="p12 center-align">Tipo de lugar*</p>
														</div>
														<div id="<%= placeKey %>-victims-type-chart" class="center"></div>
													</div>
												<% end %>
											</div>
										<% end %>
									</div>
								</div>
								<div id="victim-charts" class="col m5 s12">
									<% @my_freq_table[1..-2].each do |place| %>
										<% if @countyWise%>
											<div id="<%= place[:full_code]%>-victim-charts" class="state-victim-charts victim-toggle-charts"
												<% unless place[:full_code] == "00000" %>
													style="display:none"
												<% end %>
											>
										<% else %>
											<div id="<%= place[:code]%>-victim-charts" class="state-victim-charts victim-toggle-charts"
												<% unless place[:code] == "00" %>
													style="display:none"
												<% end %>
											>
										<% end %>
										<div class="valign-wrapper">
											<div>
												<% unless place[:code] == "00" || place[:full_code] == "00000" %>
													<i class="material-icons close-state small paletton-red-text right-extra-margin">close</i>
												<% end %>
											</div>
											<h6>
												<%= place[:name]%>
											<br> 
												<span class="slim"><%= number_with_delimiter(place[:place_total]) %> 
													<% if place[:place_total] == 1 %>
														víctima
													<% else %>
														víctimas
													<% end %>
												</span>
											</h6>
										</div>
											<% unless place[:place_total] == 0 %>
												<% if @countyWise %>
													<% placeKey = place[:full_code] %>
												<% else %>
													<% placeKey = place[:code] %>
												<% end %>
												<div id="<%= placeKey %>-victims-trend-chart"></div>
												<div id="<%= placeKey%>-profile-tab">
													<div class="col s5">
														<p class="center-align">Género*</p>
														<div id="<%= placeKey %>-victims-gender-chart" class="center"></div>
													</div>
													<div class="col s7">
														<p class="center-align">Edad*</p>
														<div id="<%= placeKey %>-victims-age-chart" class="center"></div>
													</div>
													<div class="col s12">
														<p class="center-align">Elementos de seguridad asesinados</p>
														<div id="<%= placeKey %>-victims-police-chart" class="center"></div>
													</div>
													<div class="col s12">
														<p class="p11">* Las observaciones sin información no se consideran en estos porcentajes.</p>
													</div>
												</div>
											<% end %>
										</div>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- MODAL SECTION -->
<% if @user.victim_help %>
	<div id="freq-help-modal" class="modal">
		<%= render "shared/freqhelp" %>
	</div>
<% end %>
<div id="freq-help-modal-2" class="modal">
	<%= render "shared/freqhelp" %>
</div>
<div id="victims-info-modal" class="modal large-modal">
	<div class="modal-content">	
		<div class="row">
			<div class="col s12">
				<div class="right"><%= image_tag "optimized_logo.jpg", :class => "modal-logo"%></div>
			</div>
		<div>
		</div class="row">
			<div class="col s12">
				<h6>Víctimas del crimen organizado</h6>
				<br>
				<p>Se refiere a todas las defunciones ocurridas en incidentes que, de acuerdo a la información reportada, presentan características que corresponden a las que son habituales en los enfrentamientos, agresiones y ejecuciones que involucran al crimen organizado (tales como el tipo de arma o vehículos utilizados, o el mtétodo para ultimar a la víctima).</p>
				<br>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
</div>
<!-- EMAIL MODAL -->
<% if session[:email_success] %>
	<div id="email-modal" class="modal">
		<div class="modal-content">
			<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
			<p class="p20 slim">Enviamos el archivo a <span class="cyan-text bold text-darken-2"><%= @user.mail %></span>. El procesamiento del correo puede tardar algunos minutos.</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
<% end %>