<script>
  window.nameFrequencies = <%= raw @names_data.to_json %>;
</script>
<div class="row">
	<br>
	<div class="col l4 m6 s12">
		<div class="card paletton-grey">
			<div class="card-content white-text">
				<div class="row">
					<div class="col s12">
						
						<span class="card-title center valign-wrapper">
							<i class="material-icons valign">person_pin</i>
							Consulta de registros
						</span>
					</div>
				</div>
				<form action="/datasets/members_query" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<div class="row">
						<div class="col s11 valign-wrapper">
							<input class="input-padding white query-field" name="query[firstname]" type="text"  autocomplete="off">
							 <i class="material-icons white-text small" style="display: none; margin-left: 10px">check</i>
						</div>
							
						<div class="label-row">
							<div class="col s10 offset">
								<label class="white-text">NOMBRE(S)</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s11 valign-wrapper">
							<input class="input-padding white query-field" name="query[lastname1]" type="text" autocomplete="off">
							<i class="material-icons white-text small" style="display: none; margin-left: 10px">check</i>
						</div>
						<div class="label-row">
							<div class="col s10 offset">
								<label class="white-text">APELLIDO PATERNO</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s11 valign-wrapper">
							<input class="input-padding white query-field" name="query[lastname2]" type="text" autocomplete="off">
							<i class="material-icons white-text small" style="display: none; margin-left: 10px">check</i>
						</div>
						<div class="label-row">
							<div class="col s8">
								<label class="white-text">APELLIDO MATERNO</label>
							</div>
						</div>
					</div>
					<div class="divider"></div>
					<div class="row">
						<div class="col s12">
							<div style="margin: 20px 0px 0px 20px">
								<div style="display: inline-block;">Probabilidad de homónimos: </div>
								<div id="name-warning" class="valign" style="display: inline-block; font-weight: 800;"></div>
							</div>
						</div>
					</div>
					<input type="hidden" name="query[homo_score]" id="homo_score_input">
					<div class="divider"></div>
					<div class="row">
							<div class="card-action">
								<div class="right" style="height: 10px">
									<%= render "shared/sendmagicbutton" %>
								</div>
							</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l4">
    <div id="outcome-card" class="card z-depth-1" style="background-color: white; margin-bottom: 30px; height:100%">
    <div class="card-content" style="color: #33333C">
      <table id="outcome-table" class="animate__animated animate__fadeIn" style="font-size: 14px; width: 100%;">
        <tbody>
          <tr style="border-bottom: none;">
            <td colspan="2" style="font-weight: bold; padding-bottom: 15px;">
              <%= @user.member.organization.name %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- PASSWORD ERROR MODAL -->
<% if @password_error %>
	<div id="password-error-modal" class="modal">
		<div class="modal-content">
			<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
			<p class="p20 slim">Lo sentimos. El correo o la contraseña no corresponden a ningún usuario registrado.</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
<% end %>