<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    M.Collapsible.init(elems, { accordion: false });
  });
</script>
<div class="b-container">
  <h5><%= @state.name %></h5>
  <p><strong>Total de hits:</strong> <%= @hits.count %> | <strong>Total de miembros:</strong> <%= @members.count %></p>

  <div class="row">
    <div class="col l6 m12 s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Total de hits</th>
            <th>Miembros únicos</th>
          </tr>
        </thead>
        <tbody>
          <% total_hits = 0; total_members = Set.new %>
          <% @por_usuario.each do |id, data| %>
            <tr>
              <td>
                <% if id == :undefined %>Sin definir<% else %>
                  <%= User.find(id).member&.firstname.first.upcase rescue 'U' %>.
                  <%= User.find(id).member&.lastname1.first.upcase rescue 'N' %>.
                <% end %>
              </td>
              <td><%= data[:hits] %></td>
              <td><%= data[:miembros].count %></td>
              <% total_hits += data[:hits]; total_members.merge(data[:miembros]) %>
            </tr>
          <% end %>
          <tr>
            <th>Total</th>
            <th><%= total_hits %></th>
            <th><%= total_members.count %></th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col l6 m12 s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>Tipo de exposición</th>
            <th>Total de miembros</th>
          </tr>
        </thead>
        <tbody>
          <% total_expuestos = 0 %>
          <% tipos = { true => "Personas señaladas", false => "Personas expuestas", nil => "Sin definir" } %>
          <% tipos.each do |clave, etiqueta| %>
            <tr>
              <td><%= etiqueta %></td>
              <td><%= @por_exposicion[clave].count %></td>
              <% total_expuestos += @por_exposicion[clave].count %>
            </tr>
          <% end %>
          <tr>
            <th>Total</th>
            <th><%= total_expuestos %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col l6 m12 s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>Rol</th>
            <th>Total de miembros</th>
          </tr>
        </thead>
        <tbody>
          <% total_roles = 0 %>
          <% @por_rol.each do |rol, miembros| %>
            <tr>
              <td><%= rol.presence || "Sin definir" %></td>
              <td><%= miembros.count %></td>
              <% total_roles += miembros.count %>
            </tr>
          <% end %>
          <tr>
            <th>Total</th>
            <th><%= total_roles %></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col l6 m12 s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>Organización</th>
            <th>Estatus</th>
            <th>Total de miembros</th>
          </tr>
        </thead>
        <tbody>
          <% total_orgs = 0 %>
          <% @por_organizacion.each do |org, miembros| %>
            <tr>
              <td><%= org&.name || "Sin definir" %></td>
              <td><%= org&.active == false ? "Inactiva" : "Activa" %></td>
              <td><%= miembros.count %></td>
              <% total_orgs += miembros.count %>
            </tr>
          <% end %>
          <tr>
            <th>Total</th>
            <th></th>
            <th><%= total_orgs %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Alias</th>
            <th>Rol</th>
            <th>Organización</th>
            <th>Último registro</th>
            <th>Lugar</th>
          </tr>
        </thead>
          <ul class="collapsible expandable">
            <% @members.each do |member| %>
              <% last_hit = member.hits.order(:date).last %>
              <li>
                <div class="collapsible-header">
                  <%= member.id %> -&nbsp;<span><strong><%= member.firstname %> <%= member.lastname1 %> <%= member.lastname2 %></strong></span>
                  &nbsp; – <%= member.role.name %>
                  – <%= member.organization&.name %> | <%= last_hit&.town&.county&.state&.shortname %>
                  <div stlye="width: 100%" class="right-align red-text">
                    <% if member.gender == nil %>
                      &nbsp; – Seleccionar género
                    <% end %>
                  </div>
                </div>
                  <div class="collapsible-body">
                    <div class="row">
                      <%= form_with model: member, url: update_member_name_path(member), local: true do |f| %>
                        <div class="input-field col s3">
                          <%= f.label :firstname, "Nombre" %>
                          <%= f.text_field :firstname, class: "validate", value: member.firstname %>
                        </div>
                        <div class="input-field col s3">
                          <%= f.label :lastname1, "Apellido paterno" %>
                          <%= f.text_field :lastname1, class: "validate", value: member.lastname1 %>
                        </div>
                        <div class="input-field col s3">
                          <%= f.label :lastname2, "Apellido materno" %>
                          <%= f.text_field :lastname2, class: "validate", value: member.lastname2 %>
                        </div>
                        <div class="input-field col s3">
                          <label for="member_gender">Género</label>
                          <select name="member[gender]" id="member_gender">
                            <option value="Masculino" <%= 'selected' if member.gender == 'Masculino' %>>MASCULINO</option>
                            <option value="Femenino" <%= 'selected' if member.gender == 'Femenino' %>>FEMENINO</option>
                            <option value="No identificado" <%= 'selected' if member.gender == 'No identificado' %>>No identificado</option>
                          </select>
                        </div>
                        <div class="input-field col s6">
                          <label for="member_role_id">Rol</label>
                          <select name="member[role_id]" id="member_role_id">
                            <% Role.where(name: [
                              "Gobernador","Líder","Operador","Autoridad cooptada","Familiar","Socio","Alcalde",
                              "Delegado estatal","Secretario de Seguridad","Autoridad expuesta","Servicios lícitos",
                              "Periodista","Abogado","Coordinador estatal","Regidor","Policía","Militar"
                            ]).order(:name).each do |role| %>
                              <option value="<%= role.id %>" <%= 'selected' if member.role_id == role.id %>><%= role.name %></option>
                            <% end %>
                          </select>
                        </div>
                        <div class="col s12">
                          <%= hidden_field_tag :state_code, @state.code %>
                          <%= f.submit "Actualizar", class: "btn blue" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
              </li>
            <% end %>
          </ul>
      </table>
    </div>
  </div>
</div>