<div class="b-container">
  <h5><%= @state.name %></h5>
  <p><strong>Total de hits:</strong> <%= @hits.count %> | <strong>Total de miembros:</strong> <%= @members.count %></p>

  <div class="row">
    <div class="col l6 m12 s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Total de hits</th>
            <th>Miembros únicos</th>
          </tr>
        </thead>
        <tbody>
          <% total_hits = 0; total_members = Set.new %>
          <% @por_usuario.each do |id, data| %>
            <tr>
              <td>
                <% if id == :undefined %>Sin definir<% else %>
                  <%= User.find(id).member&.firstname.first.upcase rescue 'U' %>.
                  <%= User.find(id).member&.lastname1.first.upcase rescue 'N' %>.
                <% end %>
              </td>
              <td><%= data[:hits] %></td>
              <td><%= data[:miembros].count %></td>
              <% total_hits += data[:hits]; total_members.merge(data[:miembros]) %>
            </tr>
          <% end %>
          <tr>
            <th>Total</th>
            <th><%= total_hits %></th>
            <th><%= total_members.count %></th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col l6 m12 s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>Tipo de exposición</th>
            <th>Total de miembros</th>
          </tr>
        </thead>
        <tbody>
          <% total_expuestos = 0 %>
          <% tipos = { true => "Personas señaladas", false => "Personas expuestas", nil => "Sin definir" } %>
          <% tipos.each do |clave, etiqueta| %>
            <tr>
              <td><%= etiqueta %></td>
              <td><%= @por_exposicion[clave].count %></td>
              <% total_expuestos += @por_exposicion[clave].count %>
            </tr>
          <% end %>
          <tr>
            <th>Total</th>
            <th><%= total_expuestos %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col l6 m12 s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>Rol</th>
            <th>Total de miembros</th>
          </tr>
        </thead>
        <tbody>
          <% total_roles = 0 %>
          <% @por_rol.each do |rol, miembros| %>
            <tr>
              <td><%= rol.presence || "Sin definir" %></td>
              <td><%= miembros.count %></td>
              <% total_roles += miembros.count %>
            </tr>
          <% end %>
          <tr>
            <th>Total</th>
            <th><%= total_roles %></th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col l6 m12 s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>Organización</th>
            <th>Total de miembros</th>
          </tr>
        </thead>
        <tbody>
          <% total_orgs = 0 %>
          <% @por_organizacion.each do |org, miembros| %>
            <tr>
              <td><%= org&.name || "Sin definir" %></td>
              <td><%= miembros.count %></td>
              <% total_orgs += miembros.count %>
            </tr>
          <% end %>
          <tr>
            <th>Total</th>
            <th><%= total_orgs %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Alias</th>
            <th>Rol</th>
            <th>Organización</th>
            <th>Último registro</th>
            <th>Lugar</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <% last_hit = member.hits.order(:date).last %>
            <tr>
              <td><%= member.id %></td>
              <td><%= member.firstname %></td>
              <td><%= member.lastname1 %></td>
              <td><%= member.lastname2 %></td>
              <td><%= member.alias.first %></td>
              <td><%= member.role&.name %></td>
              <td><%= member.organization&.name %></td>
              <td><%= last_hit&.date&.strftime("%d/%m/%y") %></td>
              <td>
                <% if last_hit&.town&.county&.name && last_hit.town.county.name != "Sin definir" %>
                  <%= last_hit.town.county.name %>,
                <% end %>
                <%= last_hit&.town&.county&.state&.shortname %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>