<div class="b-container">
  <h5>Catálogo de personas</h5>
  <p><strong>Total de hits:</strong> <%= @hits.count %> | <strong>Total de miembros:</strong> <%= @members.count %></p>

  <div class="row">
    <div class="col l6 m12 s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Total de hits</th>
            <th>Miembros únicos</th>
          </tr>
        </thead>
        <tbody>
          <% total_hits = 0; total_members = Set.new %>
          <% @por_usuario.each do |id, data| %>
            <tr>
              <td>
                <% if id == :undefined %>Sin definir<% else %>
                  <%= User.find(id).member&.firstname.first.upcase rescue 'U' %>.
                  <%= User.find(id).member&.lastname1.first.upcase rescue 'N' %>.
                <% end %>
              </td>
              <td><%= data[:hits] %></td>
              <td><%= data[:miembros].count %></td>
              <% total_hits += data[:hits]; total_members.merge(data[:miembros]) %>
            </tr>
          <% end %>
          <tr>
            <th>Total</th>
            <th><%= total_hits %></th>
            <th><%= total_members.count %></th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col l6 m12 s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>Tipo de exposición</th>
            <th>Total de miembros</th>
          </tr>
        </thead>
        <tbody>
          <% total_expuestos = 0 %>
          <% tipos = { true => "Personas señaladas", false => "Personas expuestas", nil => "Sin definir" } %>
          <% tipos.each do |clave, etiqueta| %>
            <tr>
              <td><%= etiqueta %></td>
              <td><%= @por_exposicion[clave].count %></td>
              <% total_expuestos += @por_exposicion[clave].count %>
            </tr>
          <% end %>
          <tr>
            <th>Total</th>
            <th><%= total_expuestos %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col l6 m12 s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>Rol</th>
            <% @top_two_users.each_with_index do |id, idx| %>
              <th><%= User.find(id).member&.firstname.first.upcase rescue "U" %>.<%= User.find(id).member&.lastname1.first.upcase rescue "N" %></th>
            <% end %>
            <th>Total de miembros</th>
          </tr>
        </thead>
        <tbody>
          <% total_roles = 0; subtotal_user_1 = 0; subtotal_user_2 = 0 %>
          <% @por_rol_con_users.each do |rol, data| %>
            <tr>
              <td><%= rol.presence || "Sin definir" %></td>
              <td><%= data[:por_usuario][0] %></td>
              <td><%= data[:por_usuario][1] %></td>
              <td><%= data[:miembros] %></td>
              <% total_roles += data[:miembros] %>
              <% subtotal_user_1 += data[:por_usuario][0] %>
              <% subtotal_user_2 += data[:por_usuario][1] %>
            </tr>
          <% end %>
          <tr>
            <th>Total</th>
            <th><%= subtotal_user_1 %></th>
            <th><%= subtotal_user_2 %></th>
            <th><%= total_roles %></th>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="col l6 m12 s12">
      <table class="highlight z-depth-1">
        <thead>
          <tr>
            <th>Organización</th>
            <th>Total de miembros</th>
          </tr>
        </thead>
        <tbody>
          <% total_orgs = 0 %>
          <% @por_organizacion.each do |org, miembros| %>
            <tr>
              <td><%= org&.name || "Sin definir" %></td>
              <td><%= miembros.count %></td>
              <% total_orgs += miembros.count %>
            </tr>
          <% end %>
          <tr>
            <th>Total</th>
            <th><%= total_orgs %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>