<div class="row">
	<% @forms.each do |form| %>
		<div class="col l6 m8 s12">
			<div class="card cyan darken-1">
				<div class="card-content white-text">
					<form action="<%= form[:myAction]%>" method="post" enctype="multipart/form-data">
						<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
						<div class="row">
							<div class="col s11 left">
								<span class="card-title"><%= form[:caption]%></span>
							</div>
						</div>
						<div class="row">
							<% unless form[:loaded] == nil %>
								<% form[:loaded].each do |period| %>
									<div class="col s3">
										<span class="new badge grey darken-3 period-badge" data-badge-caption=""><%= period %></span>
									</div>
								<% end %>
							<% end %>
						</div>
						<% if form[:fileWindow] %>
							<div class="row">
								<div class="file-field input-field short-row">
									<div class="col s1">
		 								<i class="material-icons white-text">attach_file</i>
		 							</div>
		 							<div class="col s11">
		 								<input class="white-file-input" type="file" name="query[<%= form[:myObject] %>]">
									</div>
									<div class="col s11">
										<div class="file-path-wrapper">
											<input class="file-path validate" type="text">
										</div>
									</div>
								</div>
							</div>
						<% end %>
						<% unless form[:timeSearch] == nil %>		
							<%= render form[:timeSearch] %>
						<% end %>
						<div class="card-action">
							<%= render "shared/sendbutton"%>
						</div>
					</form>
				</div>
			</div>
		</div>
	<% end %>
	<div class="col l6 m8 s12">
		<div class="card cyan darken-1">
			<div class="card-content white-text">
				<form action="/web_scrape" method="post" enctype="multipart/form-data">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<div class="row">
						<div class="col s11 left">
							<span class="card-title">Web Scraping</span>
						</div>
					</div>
					<div class="row">
						<div class="col s5 offset-s1">
							<div class="input-field short-row">
								<select id="cartel-selector" class="g-operation-cartel-selector admins-select browser-default" name="query[cartel]">
								<option value="" selected>Todos</option>
								<% @myCartels.each do |cartel|%>
									<option value="<%= cartel %>"><%= cartel %></option>
								<% end %>
								</select>
							</div>
							<div class="label-row">
								<label class="white-text" for="cartel-selector">CÁRTEL</label>
							</div>
						</div>
						<div class="col s5 offset-s1">
							<div class="input-field short-row">
								<select id="year-selector" class="g-operation-year-selector admins-select browser-default" name="query[year]">
								<option value="" selected>Todos</option>
								<% @myYears.each do |year|%>
									<option value="<%= year %>"><%= year %></option>
								<% end %>
								</select>
							</div>
							<div class="label-row">
								<label class="white-text" for="year-selector">AÑO</label>
							</div>
						</div>
						<div class="col s5 offset-s1">
							<div class="input-field short-row">
								<select id="state-selector" class="g-operation-state-selector admins-select browser-default" name="query[state]">
								<option value="" selected>Todos</option>
								<% @myStates.each do |state|%>
									<option value="<%= state %>"><%= state %></option>
								<% end %>
								</select>
							</div>
							<div class="label-row">
								<label class="white-text" for="state-selector">ESTADO</label>
							</div>
						</div>
						<div class="col s5 offset-s1">
							<div class="input-field short-row">
								<input placeholder="e.g. 'milenio.com'" id="domain-selector" type="text" class="validate" name="query[domain]">
								<div class="label-row">
									<label class="white-text" for="first_name">DOMINIO</label>
								</div>
							</div>
						</div>
					</div>
					<div class="card-action">
						<%= render "shared/sendbutton"%>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col l6 m8 s12">
	  <div class="card cyan darken-1">
	    <div class="card-content white-text center-align">
	      <h5>Depuración de registros</h5>
	      <%= button_to 'Ir a Depuración', '/datasets/clear_members', method: :get, class: 'btn waves-effect waves-light' %>
	    </div>
	  </div>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<table class="highlight z-depth-1">
			<thead>
				<tr>
					<th>Creado por mí</th>
					<th>ID</th>
					<th>Confiabilidad</th>
					<th>Nombre(s)</th>
					<th>Apellido paterno</th>
					<th>Apellido materno</th>
					<th>Alias</th>
					<th>Rol</th>
					<th>Organización</th>
				</tr>
			</thead>
			<tbody>
				<% @user_hit_members.each do |entry| %>
				<% member = entry[:member] %>
					<tr>
						<td class="center-align">
							<% if entry[:created_by_user] %>
								<span style="font-size: 18px;">✅</span>
							<% else %>
								&nbsp;
							<% end %>
						</td>
						<td><%= member.id %></td>
						<td><%= member.media_score == true ? "Alta" : "Media" %></td>
						<td><%= member.firstname %></td>
						<td><%= member.lastname1 %></td>
						<td><%= member.lastname2 %></td>
						<td><%= member.alias.present? ? member.alias.join(", ") : "-" %></td>
						<td><%= member.role&.name || "Sin definir" %></td>
						<td><%= member.organization&.name || "Sin definir" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>


<!-- LOAD MODAL -->
<% if @load_success %>
	<div id="load-modal" class="modal">
		<div class="modal-content">
			<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
			<p class="p20 slim">El archivo <span class="cyan-text bold text-darken-2"><%= @filename %></span> se cargó con éxito.</p>
			<p><%= @mesagge %></p>
			<% if session[:invalid_members_csv] %>
			  	<p>
			    	<strong>Descargar miembros inválidos:</strong><br>
			    	<%= link_to "📥 Descargar CSV", download_invalid_members_path(filename: session[:invalid_members_csv]), class: "btn btn-primary" %>
			  	</p>
			<% end %>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
<% end %>

<!-- BAD BRIEFING MODAL -->
<% if @bad_briefing %>
	<div id="load-modal" class="modal">
		<div class="modal-content">
			<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
			<p class="p20 slim">Error fatal: el nombre del archivo no tiene la estructura necesaria. Por favor modifique el nombre para que tenga una estructura idéntica a la que se muestra en el siguiente ejemplo:</p>
			<br>
			<p  class="p20">
				Briefing_Semanal_213_Lantia_Intelligence_25032025_.pdf
			</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
<% end %>

<% if session[:scraped_links_file] && File.exist?(session[:scraped_links_file]) %>
	<% links = JSON.parse(File.read(session[:scraped_links_file])) rescue [] %>
	<div id="load-modal" class="modal">
		<div class="modal-content">
			<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
			<div style="display: flex; justify-content: space-between; align-items: center;">
				<h5 class="modal-title">🔗 Enlaces extraídos</h5>
			<%= button_to 'Descargar CSV', download_scraped_links_path, method: :post, form: { target: "_blank" }, class: 'btn btn-sm btn-outline-primary' %>
			</div>
			<ul>
				<% links.each do |link| %>
				  <li><a href="<%= link %>" target="_blank"><%= link %></a></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>