<div class="container">
	<h3>Miembros vinculados con al menos un hit</h3>
	<br>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Rol</th>
				<th>Total de miembros</th>
			</tr>
		</thead>
		<tbody>
			<% total_general = 0 %>
			<% @conteo_por_rol.each do |rol, total| %>
			<tr>
				<td><%= rol %></td>
				<td><%= total %></td>
			</tr>
			<% total_general += total %>
			<% end %>
			<tr>
				<th>Total general</th>
				<th><%= total_general %></th>
			</tr>
		</tbody>
	</table>
	<br>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nombres</th>
				<th>Apellido Paterno</th>
				<th>Apellido Materno</th>
				<th>Alias</th>
				<th>Rol</th>
				<th>Organización</th>
				<th>Último registro</th>
				<th>Lugar</th>
			</tr>
		</thead>
	<tbody>
		<% @keyMembers.each do |member| %>
			<tr>
				<td><%= member.firstname %></td>
				<td><%= member.lastname1 %></td>
				<td><%= member.lastname2 %></td>
				<td><%= member.alias.first %></td>
				<td><% if member.role %>
						<%= member.role.name %>
					<% end %>
				</td>
				<td><%= member.organization&.name %></td>
				<td><%= member.hits.last.date.strftime("%d/%m/%y")%></td>
				<td>
					<% unless member.hits.last.town.county.name == "Sin definir" %>
					<%= member.hits.last.town.county.name %>,
					<% end %>
					<%= member.hits.last.town.county.state.shortname %>
				</td>
			</tr>
		<% end %>
	</tbody>
	</table>
</div>