<div class="row">
	<% @forms.each do |form| %>
		<div class="col l6 m8 s12">
			<div class="card cyan darken-1">
				<div class="card-content white-text">
					<form action="<%= form[:myAction]%>" method="post" enctype="multipart/form-data">
						<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
						<div class="row">
							<div class="col s11 left">
								<span class="card-title"><%= form[:caption]%></span>
							</div>
						</div>
						<div class="row">
							<% unless form[:loaded] == nil %>
								<% form[:loaded].each do |period| %>
									<div class="col s3">
										<span class="new badge grey darken-3 period-badge" data-badge-caption=""><%= period %></span>
									</div>
								<% end %>
							<% end %>
						</div>
						<% if form[:fileWindow] %>
							<div class="row">
								<div class="file-field input-field short-row">
									<div class="col s1">
		 								<i class="material-icons white-text">attach_file</i>
		 							</div>
		 							<div class="col s11">
		 								<input class="white-file-input" type="file" name="query[<%= form[:myObject] %>]">
									</div>
									<div class="col s11">
										<div class="file-path-wrapper">
											<input class="file-path validate" type="text">
										</div>
									</div>
								</div>
							</div>
						<% end %>
						<% unless form[:timeSearch] == nil %>		
							<%= render form[:timeSearch] %>
						<% end %>
						<div class="card-action">
							<%= render "shared/sendbutton"%>
						</div>
					</form>
				</div>
			</div>
		</div>
	<% end %>



		
	<!-- === FORMULARIO: ORGANIZACIONES === -->
	<div class="col l6 m8 s12">
	  <div class="card cyan darken-1">
	    <div class="card-content white-text">
	      <form action="/datasets/upload_linked_organization" method="post">
	        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	        <div class="row">
	          <div class="col s11 left">
	            <span class="card-title">Organizaciones l铆citas</span>
	          </div>
	        </div>

	        <div class="row">
	          <div class="input-field col s12">
	            <input id="org_name" name="organization[name]" type="text" class="white" autocomplete="off" required>
	            <label for="org_name" class="black-text">Nombre de la nueva organizaci贸n</label>
	          </div>
	        </div>

	        <div class="row">
	          <div class="input-field col s12">
	            <select id="org_criminal_link" name="organization[criminal_link_id]" class="browser-default" required>
	              <option value="" disabled selected>Selecciona el c谩rtel (criminal_link)</option>
	              <% @cartels.each do |cartel| %>
	                <option value="<%= cartel.id %>"><%= cartel.name %></option>
	              <% end %>
	            </select>
	            <small style="opacity: 0.9;">Listado ordenado alfab茅ticamente</small>
	          </div>
	        </div>

	        <div class="card-action">
	          <button type="submit" class="btn waves-effect waves-light">Guardar organizaci贸n</button>
	        </div>
	      </form>
	    </div>
	  </div>
	</div>

	<div class="col l6 m8 s12">
	  <div class="card cyan darken-1">
	    <table class="highlight z-depth-1 white-text">
	    	<th><span class="card-title">Empresas registradas</span></th>
	    	<% @empresas.each do |empresa| %>
	    		<tr>
	    			<td style="padding-left: 10px;">	
	    				<%= empresa.name %>
	    			</td>
	    			<td style="padding-left: 10px;">	
	    				<%= empresa.criminal_link.name %>
	    			</td>
	    		</tr>
	    	<% end %>
	    </table>
	  </div>
	</div>


	<div class="col l6 m8 s12">
	  <div class="card cyan darken-1">
	    <div class="card-content white-text center-align">
	      <h5>Depuraci贸n de registros</h5>
	      <br>
	      <%= button_to 'Ir a Depuraci贸n', '/datasets/clear_members', method: :get, class: 'btn red lighten-1 waves-effect waves-light' %>
	    </div>
	  </div>
	</div>
</div>

<!-- LOAD MODAL -->
<% if @load_success %>
	<div id="load-modal" class="modal">
		<div class="modal-content">
			<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
			<p class="p20 slim">El archivo <span class="cyan-text bold text-darken-2"><%= @filename %></span> se carg贸 con 茅xito.</p>
			<p><%= @mesagge %></p>
			<% if session[:invalid_members_csv] %>
			  	<p>
			    	<strong>Descargar miembros inv谩lidos:</strong><br>
			    	<%= link_to " Descargar CSV", download_invalid_members_path(filename: session[:invalid_members_csv]), class: "btn btn-primary" %>
			  	</p>
			<% end %>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
<% end %>

<!-- BAD BRIEFING MODAL -->
<% if @bad_briefing %>
	<div id="load-modal" class="modal">
		<div class="modal-content">
			<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
			<p class="p20 slim">Error fatal: el nombre del archivo no tiene la estructura necesaria. Por favor modifique el nombre para que tenga una estructura id茅ntica a la que se muestra en el siguiente ejemplo:</p>
			<br>
			<p  class="p20">
				Briefing_Semanal_213_Lantia_Intelligence_25032025_.pdf
			</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
<% end %>

<% if session[:scraped_links_file] && File.exist?(session[:scraped_links_file]) %>
	<% links = JSON.parse(File.read(session[:scraped_links_file])) rescue [] %>
	<div id="load-modal" class="modal">
		<div class="modal-content">
			<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
			<div style="display: flex; justify-content: space-between; align-items: center;">
				<h5 class="modal-title"> Enlaces extra铆dos</h5>
			<%= button_to 'Descargar CSV', download_scraped_links_path, method: :post, form: { target: "_blank" }, class: 'btn btn-sm btn-outline-primary' %>
			</div>
			<ul>
				<% links.each do |link| %>
				  <li><a href="<%= link %>" target="_blank"><%= link %></a></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>