<div class="row top-row valign-wrapper">
<!-- 	<div class="col s1">
		<i class="material-icons medium right">grid_on</i>
	</div> -->
	<div class="col s12">
		<h5 class="h5-no-margin">
			<span class="slim"> Tabla de frecuencias</span>
		</h5>
		<h5 class="h5-no-margin">Víctimas letales del crimen organizado</h5>
	</div>
</div>
<div class="row">
	<div class="col l4 m6 s12 short-row">
		<div class="card cyan darken-1">
			<div class="full-height">
				<form id="victim_freq_table" action="/datasets/victims_query" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<div class="card-content white-text">
						<div class="row">
							<div cass="col s12">
								<ul class="tabs cyan-tabs">
									<li class="tab col s6"><a class="white-text" href="#victim_freq_params">PARÁMETROS</a></li>
									<li class="tab col s6"><a class="white-text" href="#victim_freq_filters">FILTROS</a></li>
								</ul>
							</div>
						</div>
						<div id="victim_freq_params">
							<div class="row">
								<div class="col s12">
									<div class="query-header-box valign-wrapper cyan-text text-accent-2">
										<i class="material-icons small">today</i><p5 class="query-header">Temporal</p5>
									</div>
									<div id="victim_freq_timeframe_selector">
								    	<% @timeFrames.each do |query| %>
											<p class="input-padding">
												<label>
													<input  id="<%= query[:box_id] %>" name="query[freq_timeframe]" value="<%= query[:name] %>" type="radio"
														<% if query[:checked]%>
															checked
														<% end %>
													/>
													<span class="white-text p20 slim"><%= query[:caption] %></span>
												</label>
											</p>
								    	<% end %>
								    </div>
								</div>
							</div>
							<div id="geo_query_box" class="row">
								<div class="col s12">
								    <div class="query-header-box valign-wrapper cyan-text text-accent-2">
										<i class="material-icons small">map</i><p5 class="query-header">Geográfica</p5>
									</div>
									<div id="victim_freq_placeframe_selector">
								    	<% @placeFrames.each do |query| %>
											<p class="input-padding">
												<label>
													<input  id="<%= query[:box_id] %>" name="query[freq_placeframe]" value="<%= query[:name] %>" type="radio"
														<% if query[:checked]%>
															checked
														<% end %>
													/>
													<span class="white-text p20 slim"><%= query[:caption] %></span>
												</label>
											</p>
								    	<% end %>
								    </div>
								</div>
						    </div>
							<div class="row">
								<div class="col s12">
								    <div class="query-header-box valign-wrapper cyan-text text-accent-2">
										<i class="material-icons small">wc</i><p5 class="query-header">Género</p5>
									</div>
									<div id="victim_freq_genderframe_selector">
								    	<% @genderFrames.each do |query| %>
											<p class="input-padding">
												<label>
													<input  id="<%= query[:box_id] %>" name="query[freq_genderframe]" value="<%= query[:name] %>" type="radio"
														<% if query[:checked]%>
															checked
														<% end %>
													/>
													<span class="white-text p20 slim"><%= query[:caption] %></span>
												</label>
											</p>
								    	<% end %>
								    </div>
								</div>
						    </div>
						</div>
						<div id="victim_freq_filters" class="filter-box">
							<div class="row">
								<div class="col s12">
									<ul class="collapsible z-depth-0">
										<li>
											<div class="collapsible-header cyan darken-1 cyan-text text-accent-2">
												<i class="material-icons tiny">today</i>
												AÑOS
											</div>
											<div id="year_filter_box" class="collapsible-body cyan darken-1">
												<div class="row">
													<div class="col s3">
														<a class="select-all filter-btn waves-effect waves-light btn p10 cyan darken-2">Todos</a>
														<a class="clear-all filter-btn waves-effect waves-light btn p10 cyan darken-2">Limpiar</a>
													</div>
													<div class="col s9">
														<% @years.each do |year|%>
															<div class="col s6">	
																<p>
																	<label>
																		<input type="checkbox" name="query[freq_years][]" value="<%= year["id"] %>" 
																			<% if @checkedYears.include? year["id"] %>	
																				checked
																			<% end %>
																		/>
																		<span class="white-text"><%= year["name"] %></span>
																	</label>
																</p>
															</div>
														<% end %>
													</div>
												</div>
											</div>
										</li>
										<li id="state-collapsible-tab"
											<% if session[:victim_freq_params][1] == "cityWise" %>
												class="collapsible-disabled"
											<% end %>
										>
											<div class="collapsible-header cyan darken-1 cyan-text text-accent-2">
												<i class="material-icons tiny">map</i>
												ESTADOS
											</div>
											<div id="state_filter_box" class="collapsible-body cyan darken-1">
												<div class="row">
													<div class="col s3">
														<a class="select-all filter-btn waves-effect waves-light btn p10 cyan darken-2">Todos</a>
														<a class="clear-all filter-btn waves-effect waves-light btn p10 cyan darken-2">Limpiar</a>
													</div>
													<div class="col s9">
														<% @states.each do |state|%>
															<div class="col s6">	
																<p>
																	<label>
																		<input type="checkbox" name="query[freq_states][]" value="<%= state["id"] %>" 
																			<% if @checkedStates.include? state["id"] %>	
																				checked
																			<% end %>
																		/>
																		<span class="white-text"><%= state["shortname"] %></span>
																	</label>
																</p>
															</div>
														<% end %>
													</div>
												</div>
											</div>
										</li>
										<li id="city-collapsible-tab"
											<% unless session[:victim_freq_params][1] == "cityWise" %>
												class="collapsible-disabled"
											<% end %>
										>
											<div class="collapsible-header cyan darken-1 cyan-text text-accent-2">
												<i class="material-icons tiny">map</i>
												Z. METRO.
											</div>
											<div id="city_filter_box" class="collapsible-body cyan darken-1">
												<div class="row">
													<div class="col s3">
														<a class="select-all filter-btn waves-effect waves-light btn p10 cyan darken-2">Todos</a>
														<a class="clear-all filter-btn waves-effect waves-light btn p10 cyan darken-2">Limpiar</a>
													</div>
													<div class="col s9">
														<% @cities.each do |city|%>
															<div class="col s12">	
																<p>
																	<label>
																		<input type="checkbox" name="query[freq_cities][]" value="<%= city["id"] %>" 
																			<% if @checkedCities.include? city["id"] %>	
																				checked
																			<% end %>
																		/>
																		<span class="white-text"><%= city["name"] %></span>
																	</label>
																</p>
															</div>
														<% end %>
													</div>
												</div>
											</div>
										</li>
										<li class="collapsible-disabled">
											<div class="collapsible-header cyan darken-1 cyan-text text-accent-2">
												<i class="material-icons tiny">map</i>
												MUNICIPIOS
											</div>		
										</li>
										<li class="collapsible-disabled">
											<div class="collapsible-header cyan darken-1 cyan-text text-accent-2">
												<i class="material-icons tiny">wc</i>
												GÉNERO
											</div>		
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="send-to-bottom">
						<div class="card-action">
							<div class="row">
								<div class="input-field valign-wrapper right short-row">
									<button class="send_button btn-floating disabled card-margin" type="submit"><i class="material-icons grey-text">send</i></button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col l8 m6 s12 short-row">
		<div class="card flex-card">
			<div class="">
				<div class="card-content">
					<div class="row">
						<div class="right">
							<a href=""><i class="small material-icons grey-text text-lighten-2 right-extra-margin">info</i></a>
							<a href=""><i class="small material-icons cyan-text text-lighten-2 right-extra-margin">grid_on</i></a>
							<a href=""><i class="small material-icons grey-text text-lighten-2 right-extra-margin">insert_chart</i></a>
							<a href=""><i class="small material-icons grey-text text-lighten-2 right-extra-margin">map</i></a>
							<a href=""><i class="small material-icons grey-text text-lighten-2 right-extra-margin">cloud_download</i></a>
						</div>
					</div>
					<table class="freq-table striped">	
						<thead>
							<tr class="">
								<% if @victim_freq_table[0][:pre_scope] %>
									<th>
										<div class="valign-wrapper">
											<span><%= @victim_freq_table[0][:pre_scope] %></span>
											<i class="material-icons">keyboard_arrow_up</i>
										</div>	
									</th>
								<% end %>
								<th>
									<div class="valign-wrapper">
										<span><%= @victim_freq_table[0][:scope]%></span>
										<a class="sort-btn sort-down-btn" href="#" remote="true">
											<i class="material-icons small black-text">keyboard_arrow_down</i>
										</a>
									</div>	
								</th>
								<% if @victim_freq_table[0][:gender] %>
									<th><%= @victim_freq_table[0][:gender]%></th>
								<% end %>
								<% @victim_freq_table[0][:period].each do |period| %>
									<th>
										<% if session[:victim_freq_params][0] == "annual" %>
											<%= period.name %>
										<% else %>
											<%= I18n.l(period.first_day, format: '%b/%Y') %>
										<% end %>
										
									</th>
								<% end %>
							</tr>
							<tr class="total-tr cyan lighten-4">
								<td> <%= @victim_freq_table[-1][:name] %></td>
								<% if @victim_freq_table[-1][:county_placer] %>
									<td><%= @victim_freq_table[-1][:county_placer] %></td>
								<% end %>
								<% if @victim_freq_table[-1][:gender_placer] %>
									<td><%= @victim_freq_table[-1][:gender_placer] %></td>
								<% end %>
								<% @victim_freq_table[-1][:freq].each do |x| %>
									<td class="right-align"><%= number_with_delimiter(x) %></td>
								<% end %>

							</tr>
						</thead>
						<tbody> 
							<% @victim_freq_table[1..-2].each do |place| %>
								<tr>
									<% if place[:parent_name] %>
										<td><%= place[:parent_name] %></td>
									<% end %>
									<td><%= place[:name] %></td>
									<% if place[:gender] %>
										<td><%= place[:gender] %></td>
									<% end %>
									<% place[:freq].each do |x| %>
										<td class="right-align"><%= number_with_delimiter(x) %></td>
									<% end %>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>