<html>
<head>
	<title></title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
        integrity="sUbL2A+2oJ+mNbUpTkeSUcpwQLlpAbSfDFn8BzmnZXML6ZVMioYnq6rV1MaAIHKM"
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        >

    <%= yield(:head_tags) %>
    <script src="https://cdn.jsdelivr.net/npm/highcharts@10.3.3/highmaps.min.js"
            integrity="sha384-kbifPG/lJ5vFRWNT78UUQ7dfgk84q9UbLgJBogK3au3tP/YtKcKeJvbEZW7fSdgr"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts@10.3.3/modules/data.min.js"
            integrity="sha384-GJJo72hpvGmUSNn4CrAmsSiyg25a4thIU8A4sRu0ZoXcEOW3vOuNu7hNzfpB0Iye"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts@10.3.3/modules/exporting.min.js"
            integrity="sha384-67fw1IRwhpLUo8nsUJt7N+nq0+Sm5B9zjJvrpfuiglE5ZVPM3PFlX2H9QCAYPNZW"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts@10.3.3/modules/offline-exporting.min.js"
            integrity="sha384-FSoeQDp3Xbq4ux4n0yAKPAoJYrlAC0Don2CZQyrHcE4ty55UpKJ+/VJM8cUa/YsT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.3/proj4.js"
        integrity="FEOMiFzIvvJnvPYTN0QHPLvMi1AnHs7cWqQhXZQ0JzML4bbwaxdZp3Mpo+/kI8uy"
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>      
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <script type="text/javascript">
    	$(document).ready(function() {
    		var chartHeight = $(window).height()

    		Highcharts.chart('year-victims', {
				chart: {
					type: 'column',
					height: chartHeight,
					margin: [20,20,60,20],
					backgroundColor: 'rgba(0,0,0,0)',
				},
		        title: false, 
			    credits: false,
				exporting: {
					enabled: false
				},
		        legend: {
		        	enabled: false
		        },
		        xAxis: {
		        	categories: [
		        		<% @yearData.each do |n| %>
							<% if n[:estimate] %>
		        				"<%= n[:year] %>*",
		        			<% else %>
		        				"<%= n[:year] %>",
		        			<% end %>
		        		<% end %>
		        	],
		        	labels: {
		        		style: {
		        			fontSize: "14px",
		        		}
		        	}
		        },
		        yAxis: {
		        	title: {
		        		text: null
		        	},
		        	labels: {
		        		enabled: false
		        	},
		        },
		        series: [{
		        	data: [
		        		<% @yearData.each do |n| %>
			        		{
			        			<% if n[:estimate] %>
			        				name: "<%= n[:year] %>*",
			        			<% else %>
			        				name: "<%= n[:year] %>",
			        			<% end %>
			        			y: <%= n[:victims] %>,			        		},
		        		<% end %>
		        	],
		        	color: "#EF4E50",
		        }],
				tooltip: {
	            	headerFormat: '<span style="font-size:12px; color:#454157">{point.key}</span><br>',
	            	pointFormat: '<span style="font-size:16px; color:#454157">{point.y}</span><br>'
	            },
    		})
    	});
    </script>
</head>
<body>
	<div id="year-victims"></div>
</body>
</html>