<% provide :head_tags do %>
	<%= render "shared/iconmap" %>
<% end %>
<div class="header-div">
	<div class="row top-row valign-wrapper">
		<div class="col s12">
			<div class="col l5 m6 s12">
				<div class="info-box inline-block">
					<a id="icon-info-modal-trigger" class="modal-trigger" href="#icon-info-modal"><i class="small material-icons paletton-red-text right-min-margin">info</i></a>
				</div>
				<div class="info-box inline-block">
					<h5 class="h5-no-margin">ICon<span class="p18"> (Índice de Conflictividad)</span></h5>
					<h6  class="h5-no-margin"><%= @current_quarter_strings[:quarterText] %> de <%= I18n.l(@current_quarter_strings[:quarterDate], format: '%Y') %>
					<div class="col s12 small-break"></div>
				</div>
				<div class="card long-card">
					<div class="card-content">
						<div class="row card-narrow">
							<div class="legend-box col s12">
								<% @levels.each do |level| %>							
									<div class="bottom-margin-div">
										<div class="valign-wrapper">
											<div class="pseudo-button valign-wrapper">
												<i class="material-icons tiny right-min-margin <%= level[:color] %> <%= level[:color] %>-text z-depth-1">brightness_1</i>
											</div>
											<span class="header-tag"><%= level[:name] %></span>
										</div>
									</div>
								<% end %>
								<div id="icon-map">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col l7 m6 s12">
				<div class="card grey lighten-4">
					<div class="card-content">
						<% @screens.each do |screen| %>
							<div class="<%= screen[:style] %>">
								<div class="row">
									<% screen[:scopes].each do |scope| %>
										<div class="col <%= screen[:width] %>">
											<table id="icon_table" class="highlight center-align">
												<thead>
													<tr>
														<% @tableHeader.each do |head| %>
															<th class="center-align p12"><%= head %></th>
														<% end %>
													</tr>
												</thead>
												<tbody>
													<% @icon_table[scope].each do |row| %>
														<tr class="pseudo-clickable-row modal-trigger p12">
															<td class="valign-wrapper">
																<div class="pseudo-button valign-wrapper">
																	<i class="material-icons tiny <%= row[:color] %> <%= row[:color] %>-text right-extra-margin z-depth-1">brightness_1</i>
																</div>
																<div class="county-tag">
																	<p><%= State.where(:code=>row["code"]).last.shortname %></p>
																</div>
															</td>
															<td class="right-align"><%= row["rank"]%> </td>
															<td class="right-align"><%= number_with_precision(row[:score]) %></td>
															<td class="center-align"><%= row["tendencia"] %></td>
														</tr>
													<% end %>
												</tbody>
											</table>
										</div>
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- <div class="row top-row valign-wrapper">
	<div class="col s12">
		<div class="side-padding">
			<h5 class=" h5-no-margin">
				<span class="slim"> Índice de Conflictividad (ICon)</span>
			</h5>
			<h5 class="h5-no-margin">
				<span id="irco-header" class="cyan-text text-accent-4"><%= @current_quarter_strings[:quarterText] %> de <%= I18n.l(@current_quarter_strings[:quarterDate], format: '%Y') %></span>
			</h5>
			<br>
			<% @levels.each do |level| %>
				<div class="category-tag right-extra-margin">
					<div class="valign-wrapper">
						<div class="pseudo-button valign-wrapper">
							<i class="material-icons right-min-margin <%= level[:color] %> <%= level[:color] %>-text z-depth-1">brightness_1</i>
						</div>
						<span><%= level[:name] %></span>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div> -->