<% provide :head_tags do %>
	<%= render "shared/iconmap" %>
<% end %>
<div class="header-div">
	<div class="row top-row valign-wrapper">
		<div class="col s12">
			<div class="col l5 m6 s12">
				<div class="info-box inline-block">
					<a id="icon-info-modal-trigger" class="modal-trigger" href="#icon-info-modal"><i class="small material-icons paletton-red-text right-min-margin">info</i></a>
				</div>
				<div class="info-box inline-block">
					<h5 class="h5-no-margin">ICon<span class="p18"> (Índice de Conflictividad)</span></h5>
					<h6  class="h5-no-margin"><%= @current_quarter_strings[:quarterText] %> de <%= I18n.l(@current_quarter_strings[:quarterDate], format: '%Y') %>
					<div class="col s12 small-break"></div>
				</div>
				<div class="card short-card">
					<div class="card-content">
						<div class="row card-narrow">
							<div class="legend-box col s12">
								<% @levels.each do |level| %>							
									<div class="bottom-margin-div">
										<div class="valign-wrapper">
											<div class="pseudo-button valign-wrapper">
												<i class="material-icons tiny right-min-margin <%= level[:color] %> <%= level[:color] %>-text z-depth-1">brightness_1</i>
											</div>
											<span class="header-tag"><%= level[:name] %></span>
										</div>
									</div>
								<% end %>
							</div>
							<div class="col s12">
								<div id="icon-map">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col l7 m6 s12">
				<div class="card white index-card">
					<div class="card-content">
						<div id="icon-table-display" class="index-display">
							<% @screens.each do |screen| %>
								<div class="<%= screen[:style] %>">
									<div class="row">
										<% screen[:scopes].each do |scope| %>
											<div class="col <%= screen[:width] %>">
												<table id="icon_table" class="highlight center-align">
													<thead>
														<tr>
															<% @tableHeader.each do |head| %>
																<th class="center-align p11"><%= head %></th>
															<% end %>
														</tr>
													</thead>
													<tbody>
														<% @icon_table[scope].each do |row| %>
															<tr id="<%= row["code"] %>-index-trigger" class="pseudo-clickable-row p12">
																<td class="valign-wrapper">
																	<div class="pseudo-button valign-wrapper">
																		<i class="material-icons tiny right-extra-margin z-depth-1" style="background-color: <%= row[:color] %>; color: <%= row[:color] %>">brightness_1</i>
																	</div>
																	<div class="county-tag">
																		<p><%= State.where(:code=>row["code"]).last.shortname %></p>
																	</div>
																</td>
																<td class="right-align"><%= row["rank"] %> </td>
																<td class="right-align"><%= number_with_precision(row[:score], :precision=>1) %></td>
																<td class="center-align"><%= row["tendencia"] %></td>
															</tr>
														<% end %>
													</tbody>
												</table>
											</div>
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
						<% @icon_table.each do |row| %>
							<div id="<%= row["code"] %>-card-display" class="index-display p14" style="display: none">
								<div class="row short-row">
									<div class="index-header">
										<div class="col s9">
											<div class="valign-wrapper">
												<div class="pseudo-button valign-wrapper">
													<i class="material-icons right-extra-margin z-depth-1" style="background-color: <%= row[:color] %>; color: <%= row[:color] %>">brightness_1</i>
												</div>
												<h5> <%= row[:name] %><span class="slim"></span></h5>
											</div>
										</div>
										<div class="col s3">
											<i class="material-icons close-index-card paletton-red-text right">close</i>
										</div>
									</div>
								</div>
								<br>
								<div class="row short-row">
									<div class="row">
									<div class="col l6 m12 s12">
										<ul class="tabs paletton-red-tabs">
											<li class="tab col s6"><a class="paletton-red-text" href="#<%= row["code"] %>-overview-tab">RESUMEN</a></li>
											<li class="tab col s6"><a id="<%= row["code"] %>-component-tab-trigger" class="right-tab paletton-red-text" href="#<%= row["code"] %>-component-tab">INDICADORES</a></li>
										</ul>
									</div>
									</div>
									<div id="<%= row["code"] %>-overview-tab" class="overview-tab">
										<div class="col l6 m12">
											<div class="col l12 m12 s6">
												<p><span class="slim">ICon: </span><%= row[:score] %></p>
												<p><span class="slim">Nivel: </span><%= row["nivel"] %></p>
												<p><span class="slim">Tendencia: </span><%= row["tendencia"] %></p>
												<br>
												<div class="divider"></div>
												<div class="stress-line valign-wrapper">
													<p><%= row["rank"] %><% if row["rank"] == "1" %><sup>er</sup><% elsif row["rank"] == "3" %><sup>er</sup><% else %><sup>o</sup><% end %>
													estado con mayor conflictividad</p>
												</div>
												<div class="divider"></div>
												<br>
											</div>
											<div class="col l12 m12 s6">
												<div class="left-large-margin"><span class="slim">Población: </span><%= number_with_delimiter(State.where(:code=>row["code"]).last.population) %></div>
												<% if State.where(:code=>row["code"]).last.organizations.where(:league=>"CONAGO").last.members.any? %>
													<div class="valign-wrapper">
														<div class="governor-box right-extra-margin">
															<div id="avatar-circle" class="tiny-thumb z-depth-1 circle">
															<%= image_tag(State.where(:code=>row["code"]).last.organizations.where(:league=>"CONAGO").last.members.last.avatar, :class=> "avatar-image") %>
															</div>
														</div>
														<div>
															<p class="slim">
																<% if row["code"] == "09" %>
																	Jefa de Gobierno:
																<% elsif State.where(:code=>row["code"]).last.organizations.where(:league=>"CONAGO").last.members.last.gender == "Femenino"
																	%>
																Gobernadora:
																<% else %>
																	Gobernador:
																<% end %>
															</p>
															<p><span class="slim"></span><%= State.where(:code=>row["code"]).last.organizations.where(:league=>"CONAGO").last.members.last.firstname+" "+State.where(:code=>row["code"]).last.organizations.where(:league=>"CONAGO").last.members.last.lastname1+" "+State.where(:code=>row["code"]).last.organizations.where(:league=>"CONAGO").last.members.last.lastname2 %></p>
														</div>
													</div>
												<% end %>	
												<br>
											</div>
										</div>
										<div class="col l6 m12 s12">
											<div class="row short-row">
												<div class="col l12 m6 s6">
													<h6>Evolución trimestral</h6>
													<div id="<%= row["code"]%>-icon-trend-chart">
													</div>
												</div>
												<div class="col l12 m6 s6">
													<h6>Comparativo</h6>
													<div id="<%= row["code"]%>-icon-bar-chart">
													</div>				
												</div>
											</div>
											<br>
										</div>
									</div>
									<div id="<%= row["code"] %>-component-tab">
										<div class="col s12">
											<table class="component-table">
												<thead>
													<tr class="p12">
														<td class="center-align">INDICADOR</td>
														<td class="center-align">
															NIVEL <%= @current_quarter_strings[:quarterShort] %>/<%= I18n.l(@current_quarter_strings[:quarterDate], format: '%Y') %>
														</td>
														<td class="center-align">
															CAMBIO RESPECTO A <%= @back_one_q_strings[:quarterShort] %>/<%= I18n.l(@back_one_q_strings[:quarterDate], format: '%Y') %>
														</td>
														<td class="center-align">
															CAMBIO RESPECTO A <%= @back_one_y_strings[:quarterShort] %>/<%= I18n.l(@back_one_y_strings[:quarterDate], format: '%Y') %>
														</td>
													</tr>
												</thead>
												<tbody>
													<% @components.each do |component| %>
														<tr>
															<td class="bold">
																<%= component[:name] %>
															</td>
															<td>
																<div id="<%= component[:key] %>-<%= row["code"] %>-component-pie-chart" class="component-pie">
																</div>
															</td>
															<td>
																<div class="right">
																	<% myString = component[:key]+"-1"%>
																	<div class="valign-wrapper">
																		<% if row[myString] < 0 %>
																			<i class="material-icons right-min-margin low-color">arrow_downward</i>
																		<% else %>
																			<i class="material-icons right-min-margin critical-color">arrow_upward</i>
																		<% end %>
																		<div class="variation-box">														
																			<%= number_with_precision(row[myString]/component[:share], :precision=>1) %> puntos porcentuales
																		</div>
																	</div>
																</div>
															</td>
															<td>
																<div class="right">
																	<% myString = component[:key]+"-4"%>
																	<div class="valign-wrapper">
																		<% if row[myString] < 0 %>
																			<i class="material-icons right-min-margin low-color">arrow_downward</i>
																		<% else %>
																			<i class="material-icons right-min-margin critical-color">arrow_upward</i>
																		<% end %>
																		<div class="variation-box">														
																			<%= number_with_precision(row[myString]/component[:share], :precision=>1) %> puntos porcentuales
																		</div>
																	</div>
																</div>
															</td>
														</tr>
													<% end %>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						<% end %>
						<div >
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>