<div class="header-div animate__animated animate__fadeIn">
	<div class="row top-row valign-wrapper">
		<div class="col s12">
			<div class="col l5 m7 s12">
				<div class="info-box inline-block">
					<a id="icon-info-modal-trigger" class="modal-trigger" href="#irco-info-modal"><i class="small material-icons paletton-red-text right-min-margin">info</i></a>
				</div>
				<div class="info-box inline-block">
					<h5 class="h5-no-margin"><%= @indexStringHash[:acronym] %></h5>
					<h6 class="h5-no-margin"> (<%= @indexStringHash[:name] %>)</h6>
					<h6  class="h5-no-margin" style="visibility:hidden">
						<%= @current_quarter_strings[:quarterText] %> de <%= I18n.l(@current_quarter_strings[:quarterDate], format: '%Y') %>
					<div class="col s12 small-break"></div>
				</div>
				<div class="card short-card">
					<div class="card-content">
						<div class="row card-narrow">
							<% if @irco %>
								<div class="col s12 right">
									<%= render "shared/indexswitch" %>
								</div>
							<% end %>
							<div class="legend-box col s12">
								<% @levels.each do |level| %>							
									<div class="bottom-margin-div">
										<div class="valign-wrapper">
											<div class="pseudo-button valign-wrapper">
												<i class="material-icons tiny right-min-margin <%= level[:color] %> <%= level[:color] %>-text z-depth-1">brightness_1</i>
											</div>
											<span class="header-tag"><%= level[:name] %></span>
										</div>
									</div>
								<% end %>
							</div>
							<div class="col s12">
								<div id="icon-map">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col l7 m5 s12">
				<div class="card white index-card">
					<div class="card-content">
						<div id="icon-table-display" class="index-display">	
							<div class="row">
								<div class="col s12">
									<ul class="tabs paletton-red-tabs">
										<li id="index-search-trigger" class="tab col s2"><a  class="right-tab paletton-red-text" href="#county-search-tab"><i id="autocomplete-icon" class="material-icons paletton-red-text">search</i></a></li>
										<li class="tab col s5">
											<a id="index-top-10-trigger" class="paletton-red-text" href="#index-top-10-tab">CRÍTICOS</a>
										</li>
										<li id="index-destination-trigger" class="tab col s5"><a  class="right-tab paletton-red-text" href="#destinations-tab">TURÍSTICOS</a></li>
									</ul>
								</div>
							</div>
							<div id="county-search-tab">
								<div class="col l5 m8 s8">
									<input id="county-autocomplete-input" type="text">
									<div id="list-guide" class="left-min-margin top-min-margin">
										<p class="p12">Ingrese el nombre del municipio</p>
									</div>
									<div id="failure-guide" class="left-min-margin top-min-margin" style="display:none">
										<p class="p12 paletton-red-text">Sin resultados (considere que el IRCO tiene cobertura sólo en municipios de más de 100 mil habitantes)</p>
									</div>
								</div>
								<div class="col s12">
									<div id="county-entry-list">
									</div>
								</div>
							</div>	
							<div id="index-top-10-tab">	
								<% @criticalScreens.each do |screen| %>
									<div class="<%= screen[:style] %>">
										<div class="row">
											<% screen[:scopes].each do |scope| %>
												<div class="col <%= screen[:width] %>">
													<table id="icon_table" class="highlight center-align">
														<thead>
															<tr>
																<% @tableHeader.each do |head| %>
																	<th class="center-align p11"><%= head %></th>
																<% end %>
															</tr>
														</thead>
														<tbody>
															<% @critical_table[scope].each do |row| %>
																<tr id="<%= row["code"] %>-index-trigger" class="pseudo-clickable-row p12">
																	<td class="valign-wrapper">
																		<div class="pseudo-button valign-wrapper">
																			<i class="material-icons tiny right-extra-margin z-depth-1" style="background-color: <%= row[:color] %>; color: <%= row[:color] %>">brightness_1</i>
																		</div>
																		<div class="county-tag">
																			<p><%= County.where(:full_code=>row["code"]).last.shortname %>, <%= County.where(:full_code=>row["code"]).last.state.shortname %></p>
																		</div>
																	</td>
																	<td class="right-align"><%= row["rank"] %> </td>
																	<td class="right-align"><%= number_with_precision(row[:score], :precision=>1) %></td>
																	<td class="center-align"><%= row["tendencia"] %></td>
																</tr>
															<% end %>
														</tbody>
													</table>
												</div>
											<% end %>
										</div>
									</div>
								<% end %>
							</div>
							<div id="destinations-tab">
								<% @destinationScreens.each do |screen| %>
									<div class="<%= screen[:style] %>">
										<div class="row">
											<% screen[:scopes].each do |scope| %>
												<div class="col <%= screen[:width] %>">
													<table id="icon_table" class="highlight center-align">
														<thead>
															<tr>
																<% @tableHeader.each do |head| %>
																	<th class="center-align p11"><%= head %></th>
																<% end %>
															</tr>
														</thead>
														<tbody>
															<% @destination_table[scope].each do |row| %>
																<tr id="<%= row["code"] %>-index-trigger" class="pseudo-clickable-row p12">
																	<td class="valign-wrapper">
																		<div class="pseudo-button valign-wrapper">
																			<i class="material-icons tiny right-extra-margin z-depth-1" style="background-color: <%= row[:color] %>; color: <%= row[:color] %>">brightness_1</i>
																		</div>
																		<div class="county-tag">
																			<p><%= County.where(:full_code=>row["code"]).last.shortname %>, <%= County.where(:full_code=>row["code"]).last.state.shortname %></p>
																		</div>
																	</td>
																	<td class="right-align"><%= row["rank"] %> </td>
																	<td class="right-align"><%= number_with_precision(row[:score], :precision=>1) %></td>
																	<td class="center-align"><%= row["tendencia"] %></td>
																</tr>
															<% end %>
														</tbody>
													</table>
												</div>
											<% end %>
										</div>
									</div>
								<% end %>
							</div>
						</div>
						<% @icon_table.each do |row| %>
							<div id="<%= row["code"] %>-card-display" class="index-display p14" style="display: none">
								<div class="row short-row">
									<div class="index-header">
										<div class="col s9">
											<div class="valign-wrapper">
												<div class="pseudo-button valign-wrapper">
													<i class="material-icons right-extra-margin z-depth-1" style="background-color: <%= row[:color] %>; color: <%= row[:color] %>">brightness_1</i>
												</div>
												<h5> <%= row[:name] %>, <%= County.where(:full_code=>row["code"]).last.state.shortname %></h5>
											</div>
										</div>
										<div class="col s3">
											<i class="material-icons close-index-card paletton-red-text right">close</i>
										</div>
									</div>
								</div>
								<br>
								<div class="row short-row">
									<div id="<%= row["code"] %>-overview-tab" class="overview-tab">
										<div class="col l6 m12">
											<div class="col l12 m12 s6">
												<p><span class="slim"><%= @indexName%>: </span><%= row[:score] %></p>
												<p><span class="slim">Nivel: </span><%= row["nivel"] %></p>
												<p><span class="slim">Tendencia: </span><%= row["tendencia"] %></p>
												<br>
												<div class="divider"></div>
												<div class="stress-line valign-wrapper">
													<p><%= row["rank"] %><% if row["rank"] == "1" %><sup>er</sup><% elsif row["rank"] == "3" %><sup>er</sup><% else %><sup>o</sup><% end %>
													<%= @indexStringHash[:placeNoun] %> con mayor <%= @indexStringHash[:noun] %></p>
												</div>
												<div class="divider"></div>
												<br>
											</div>
											<div class="col l12 m12 s6">
												<div><span class="slim">Población: </span><%= number_with_delimiter(County.where(:full_code=>row["code"]).last.population) %></div>
												<br>
											</div>
										</div>
										<div clss="col s12">
											<div id="<%= row["code"] %>-warning-box" class="warning-box">
												<% if row[:warnings].empty?%>
													<p class="bold">Sin alertas de riesgo</p>
												<% elsif row[:warnings].length == 1 %>
													<p>Alerta de riesgo por:</p>
												<% else %>
													<p>Alertas de riesgo por:</p>
												<% end %>
												<% row[:warnings].each do |warning| %>
													<div class="bottom-margin-div top-min-margin">
														<div class="valign-wrapper">
															<div class="pseudo-button valign-wrapper">
																<i class="material-icons right-min-margin paletton-red-text z-depth-0">warning</i>
															</div>
															<span class="header-tag bold"><%= warning %></span>
														</div>
													</div>
												<% end %>
											</div>
										</div>
										<div class="col l6 m12 s12">
											<div class="row short-row">
												<div class="col l12 m6 s6">
													<h6>Evolución trimestral</h6>
													<div id="<%= row["code"]%>-icon-trend-chart">
													</div>
												</div>
												<div class="col l12 m6 s6">
													<h6>Comparativo</h6>
													<div id="<%= row["code"]%>-icon-bar-chart">
													</div>				
												</div>
											</div>
											<br>
										</div>
									</div>
								</div>
							</div>
						<% end %>
						<div >
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- MODAL SECTION -->
<%= render "shared/ircoinfo" %>
