<script type="text/javascript">
	$(document).ready(function() {
		buildLocalCharts('00');

		$("#freq-table-trigger").click(function() {
			$(".freq-entry-display").hide();
			$("#freq-entry-list").show();
			$("#freq-map-trigger i").removeClass('active');
			$("#freq-table-trigger i").addClass('active');
			return false
	 	});
		$("#freq-map-trigger").click(function() {
			$(".freq-entry-display").hide();
			$("#freq-entry-map").show();
			$("#freq-map-trigger i").addClass('active');
			$("#freq-table-trigger i").removeClass('active');
			return false
	 	});

	 	
		if ($(window).height() < 600) {
			var mapHeight = 300
        } else {
        	var mapHeight = $(window).height()/2
        }; 

	 	// NATIONAL MAP
		var data = [
			<% @my_freq_table[1..-2].each do |place| %>
				{name:'<%= place[:name] %>', value:<%= place[:place_total] %>, code:'<%= place[:code] %>'},
			<% end %>
		];
		Highcharts.getJSON('/maps/national_map.json', function (geojson) {
		    Highcharts.mapChart('detention-map', {
		        chart: {
		            map: geojson,
		            height: mapHeight,
			        style: {
			            fontFamily: 'Montserrat'
			        },
		        },
		        legend: {
		        	layout: 'vertical',
		        	align: 'left',
		        	verticalAlign: 'middle',
		        	x: 14,
		        	y: 90,
		        	floating: true,
		        	backgroundColor: 'white',
		            labelFormatter: function () {
		                if (this.to == 0) {
		                	return 0
		                } else {
		               		 return (this.from || '<') + ' - ' + (this.to || '>'); 	
		                }
		               
		            },
		        },
		        title: false, 
		        credits: false,
		        mapNavigation: {
		            enabled: false,
		        },
				exporting: {
					enabled: false
				},
	            colors: ['#e0e0e0', "#ffa0a0", "#ef4e50", "#ad1111"],
	            colorAxis: {
	                dataClassColor: 'category',
	                dataClasses: [{
	                	to: 0,
	                }, {
	                    from: 1,
	                    to: 10
	                }, {
	                    from: 10,
	                    to: 50
	                }, {
	                    from: 50
	                }]
	            },
		        plotOptions: {
		        	series: {
		        		point: {
		        			events: {
		        				click: function() {
		        					var myState = this.code;
		        					console.log(myState);
		        					$('.detention-toggle-charts').hide();
		        					$('.collection-item').hide();
		        					$('#'+myState+'-detention-charts').show();
		        					buildLocalCharts(myState);
		        					$('.'+myState+'-detention-item').show();
		        					if ($(window).width() < 600) {
		        						$("html, body").animate({ scrollTop: 680 }, "slow");
		        					};
		        				}
		        			}
		        		}
		        	}
		        },
		        series: [{
		            data: data,
		            joinBy: 'name',
	            	name: 'Arrestos',
		            borderColor: 'white',
		            borderWidth: 1,
		            nullColor: '#e0e0e0',
		            states: {
		                hover: {
		                    color: '#ffffff',
			                borderColor: '#424242'
		                }
		            },
		            cursor: 'pointer', 
		            dataLabels: {
		                enabled: true,
		                format: '{point.properties.postal}'
		            }
		        }],
	            tooltip: {
	            	headerFormat: '<span style="font-size:12px; color:#454157">{point.key}</span><br>',
	            	pointFormat: '<span style="font-size:16px; color:#454157">{point.value}</span><br>'
	            },
		    }, function (chart) { 
				    var originalWidth = chart.chartWidth - 105;
				    chart.renderer.image('/assets/mini_logo.png', originalWidth, 50, 60, 52)
    				.add();
        	});		
		});

		// TREND CHART
		function buildLocalCharts(place) {
			<% @my_freq_table[1..-2].each do |place| %>
				<% unless place[:place_total] == 0 %>
					if (place == <%= place[:code] %>) {
						Highcharts.chart('<%= place[:code]%>-detainees-trend-chart', {
						    chart: {
						        type: 'line',
						        height: 124,
						        marginTop: 6,
						        marginBottom: 58,
						        style: {
						            fontFamily: 'Montserrat'
						        },
						    },
					        title: false, 
						       credits: false,
							exporting: {
								enabled: false
							},
					        legend: {
					        	enabled: false
					        },
					        xAxis: [{
					        	categories: [
					        		<% @my_freq_table[0][:period].each do |period| %>
										<% if @annual %>
											"<%= period.name %>"
										<% elsif @quarterly %>
											"T<%= period.name[-1]%>/<%= I18n.l(period.first_day, format: '%Y')[2,2] %>"
										<% else %>
											"<%= I18n.l(period.first_day, format: '%b/%Y') %>"
										<% end %>,
					        		<% end %>
					        	], 
					        }],
					        yAxis: [{
					        	title: {
					        		text: null
					        	},
					        }],
					        series: [{
					        	data: [
					        		<% (0..place[:freq].length-1).each do |x| %>
					        			["a<%=x%>",<%= place[:freq][x] %>],
					        		<% end %>
					        	],
					        	color: "#0A6868",
								tooltip: {
									headerFormat: '<span style="font-size:12px; color:#454157">{point.x}: {point.y}</span><br>',
									pointFormat: false,
								}
					        }]
						});

						// ROLES PIE CHART
						Highcharts.chart('<%= place[:code]%>-detainees-role-chart', {
						    chart: {
						        type: 'pie',
						        height: 148,
						        marginTop: 0,
						        style: {
						            fontFamily: 'Montserrat'
						        },
						    },
					        title: false, 
						    credits: false,
							exporting: {
								enabled: false
							},
					        legend: {
					        	enabled: false
					        },
						    plotOptions: {
						        pie: {
						            allowPointSelect: true,
						            cursor: 'pointer',
						            dataLabels: {
						                enabled: false
						            },
						            showInLegend: true,
						            innerSize: '40%',
									states: {
										inactive: {
											opacity: 1
										},
									},

						        }
						    },
					        series: [{
					        	data: [
					        		<% place[:roles].each do |role| %>
					        			{
					        				name: '<%= role[:role] %>',
					        				y: <%= role[:freq] %>,
					        				showInLegend: true,
					        				color: '<%= role[:color] %>'
					        			},
					        		<% end %>
						        ],
								tooltip: {
									headerFormat: '<span style="font-size:12px; color:#454157">{point.key}: {point.y}</span><br>',
									pointFormat: false,
								}

					        }]
						});

						// COALITION PIE CHART
						Highcharts.chart('<%= place[:code]%>-detainees-coalition-chart', {
							chart: {
						        type: 'pie',
						        height: 148,
						        marginTop: 0,
						        style: {
						            fontFamily: 'Montserrat'
						        },
							},
					        title: false, 
						    credits: false,
							exporting: {
								enabled: false
							},
					        legend: {
					        	enabled: false
					        },
						    plotOptions: {
						        pie: {
						            allowPointSelect: true,
						            cursor: 'pointer',
						            dataLabels: {
						                enabled: false
						            },
						            showInLegend: true,
						            innerSize: '40%',
									states: {
										inactive: {
											opacity: 1
										},
									},

						        }
						    },
					        series: [{
					        	data: [
					        		<% place[:coalitions].each do |coalition| %>
					        			{
					        				name: '<%= coalition[:name] %>',
					        				y: <%= coalition[:freq] %>,
					        				showInLegend: true,
					        				color: '<%= coalition[:color] %>'
					        			},
					        		<% end %>
						        ],
								tooltip: {
									headerFormat: '<span style="font-size:12px; color:#454157">{point.key}: {point.y}</span><br>',
									pointFormat: false,
								}

					        }]
						});

						// AGENCIES BAR CHART
						Highcharts.chart('<%= place[:code]%>-detainees-agencies-chart', {
							chart: {
								type: 'bar',
								height: 120,
								marginTop: 0,
						        style: {
						            fontFamily: 'Montserrat',
						        },
							},
					        title: false, 
						    credits: false,
							exporting: {
								enabled: false
							},
					        legend: {
					        	enabled: false
					        },
					        xAxis: {
					        	categories: [
					        		<% place[:agencies].each do |agency| %>
					        			'<%= agency[:name]%>',
					        		<% end %>
					        	],
							    labels: {
							        style: {
							            textOverflow: 'none',
							            fontSize: "10px"
							        }					        
							    },
					        },
					        yAxis: {
					        	title: {
					        		text: null
					        	},
					        	labels: {
					        		enabled: false
					        	},
					        },
					        series: [{
					        	data: [
					        		<% place[:agencies].each do |agency| %>
					        			{
					        				name: '<%= agency[:name]%>',
					        				y: <%= agency[:share] %>,
					        				color: '#4DA7A7',
					        				showInLegend: true,
					        			},
					        		<% end %>
					        	],
								tooltip: {
									headerFormat: '<span style="font-size:12px; color:#454157">{point.y}%</span><br>',
									pointFormat: false,
								}
					        }]
						});
					};
				<% end %>
			<% end %>
		};
	})
</script>
