
<script type="text/javascript">
	$(document).ready(function(){

		function tabInit() {
		    $('ul.tabs').tabs();
		}

	 	// TRIGGER CARDS IN INDEX
		$('.pseudo-clickable-row').click(function() {
			var myState = $(this).attr('id').split('-')[0];
			$('.index-display').hide();
			$('#'+myState+'-card-display').show();
			tabInit();
			buildLocalCharts(myState);

		});

		if ($(window).height() < 600) {
			var mapHeight = 300
        } else {
        	var mapHeight = $(window).height()/2
        }; 

	 	// NATIONAL MAP
		<% if @countyWise %>
			$('#index-search-trigger').click(function() {
				var critical = [
					<% @icon_table.each do |place| %>
						<% unless place[:name] == "Nacional" %>
							{
								code: '<%= place["code"]%>',
								name: '<%= place[:name] %>',
								lat: <%= County.where(:full_code=>place["code"]).last.towns.where(:name=>"Sin definir").last.latitude %>,
								lon: <%= County.where(:full_code=>place["code"]).last.towns.where(:name=>"Sin definir").last.longitude %>,
								value: <%= number_with_precision(place[:score].to_f, :precision => 1) %>,
								color: '<%= place[:color] %>',
							},
						<% end %>
					<% end %>
				]
				drawMap(critical);
			})

			$('#index-top-10-trigger').click(function() {
				var critical = [
					<% @critical_table.each do |place| %>
						<% unless place[:name] == "Nacional" %>
							{
								code: '<%= place["code"]%>',
								name: '<%= place[:name] %>',
								lat: <%= County.where(:full_code=>place["code"]).last.towns.where(:name=>"Sin definir").last.latitude %>,
								lon: <%= County.where(:full_code=>place["code"]).last.towns.where(:name=>"Sin definir").last.longitude %>,
								value: <%= number_with_precision(place[:score].to_f, :precision => 1) %>,
								color: '<%= place[:color] %>',
							},
						<% end %>
					<% end %>
				]
				drawMap(critical);
			})

			$('#index-destination-trigger').click(function() {
				var critical = [
					<% @destination_table.each do |place| %>
						<% unless place[:name] == "Nacional" %>
							{
								code: '<%= place["code"]%>',
								name: '<%= place[:name] %>',
								lat: <%= County.where(:full_code=>place["code"]).last.towns.where(:name=>"Sin definir").last.latitude %>,
								lon: <%= County.where(:full_code=>place["code"]).last.towns.where(:name=>"Sin definir").last.longitude %>,
								value: <%= number_with_precision(place[:score].to_f, :precision => 1) %>,
								color: '<%= place[:color] %>',
							},
						<% end %>
					<% end %>
				]
				drawMap(critical);
			})
			var mxStates = [
			    ['mx-3622', null],
			    ['mx-bc', null],
			    ['mx-bs', null],
			    ['mx-so', null],
			    ['mx-cl', null],
			    ['mx-na', null],
			    ['mx-cm', null],
			    ['mx-qr', null],
			    ['mx-mx', null],
			    ['mx-mo', null],
			    ['mx-df', null],
			    ['mx-qt', null],
			    ['mx-tb', null],
			    ['mx-cs', null],
			    ['mx-nl', null],
			    ['mx-si', null],
			    ['mx-ch', null],
			    ['mx-ve', null],
			    ['mx-za', null],
			    ['mx-ag', null],
			    ['mx-ja', null],
			    ['mx-mi', null],
			    ['mx-oa', null],
			    ['mx-pu', null],
			    ['mx-gr', null],
			    ['mx-tl', null],
			    ['mx-tm', null],
			    ['mx-co', null],
			    ['mx-yu', null],
			    ['mx-dg', null],
			    ['mx-gj', null],
			    ['mx-sl', null],
			    ['mx-hg', null]
			];
			var allCounties = [
				<% @icon_table.each do |place| %>
					<% unless place[:name] == "Nacional" %>
						{
							code: '<%= place["code"]%>',
							name: '<%= place[:name] %>',
							lat: <%= County.where(:full_code=>place["code"]).last.towns.where(:name=>"Sin definir").last.latitude %>,
							lon: <%= County.where(:full_code=>place["code"]).last.towns.where(:name=>"Sin definir").last.longitude %>,
							value: <%= number_with_precision(place[:score].to_f, :precision => 1) %>,
							color: '<%= place[:color] %>',
						},
					<% end %>
				<% end %>
			]
			function drawMap(data) {
								Highcharts.getJSON('/maps/mx-all.geojson', function (geojson) {
					Highcharts.mapChart('icon-map', {
				        chart: {
				            map: geojson,
				            height: mapHeight,
				        },
				        title: false, 
				        credits: false,
				        mapNavigation: {
				            enabled: true,
				        },
						exporting: {
							enabled: false
						},
				        
				        legend: false,
				        title: false, 
				        credits: false,
				        mapNavigation: {
				            enabled: false,
				        },
						exporting: {
							enabled: false
						},
				        series: [
					        {
					            data: mxStates,
					            borderColor: 'white',
					            borderWidth: 1,
					            nullColor: '#e0e0e0', 
					            dataLabels: {
					                enabled: true,
					                format: '{point.properties.postal}'
					            }
					        }, {
					        	cursor: 'pointer',
					        	type: 'mappoint',
					        	data: data,
					        	marker: {
					        		radius: 4
					        	},
					            dataLabels: {
					                enabled: false,
					            },
					            tooltip: {
					            	headerFormat: '<span style="font-size:12px; color:#454157">{point.key}</span><br>',
					            	pointFormat: '<span style="font-size:16px; color:#454157">{point.value}</span><br>'
					            },
				        		point: {
				        			events: {
				        				click: function() {
				        					var myCounty = this.code;
				        					$('.index-display').hide();
				        					$('#'+myCounty+'-card-display').show();
				        					tabInit();
				        					buildLocalCharts(myCounty);
				        					if ($(window).width() < 600) {
				        						$("html, body").animate({ scrollTop: 680 }, "slow");
				        					};
				        				}
				        			}
				        		}
				            }
				        ],

				    }, function (chart) { 
						    var originalWidth = chart.chartWidth - 105;
						    chart.renderer.image('/assets/mini_logo.png', originalWidth, 50, 60, 52)
		    				.add();
		        	});	
		        });		
			}
			drawMap(allCounties)
	
		<% else %>
			var data = [
				<% @icon_table.each do |place| %>
					{name:'<%= place[:name] %>', value: <%= number_with_precision(place[:score].to_f, :precision => 1) %>, code:'<%= place["code"] %>'},
				<% end %>
			];
			Highcharts.getJSON('/maps/national_map.json', function (geojson) {
			    Highcharts.mapChart('icon-map', {
			        chart: {
			            map: geojson,
			            height: mapHeight,
			            // backgroundColor: '#041F3A'
			        },
			        legend: false,
			        title: false, 
			        credits: false,
			        mapNavigation: {
			            enabled: false,
			        },
					exporting: {
						enabled: false
					},
		            colors: [
		            	<% @levels.reverse.each do |level| %>
		            		'<%= level[:light_color] %>',
		            	<% end %>
		            ],
		            colorAxis: {
		                dataClassColor: 'category',
		                dataClasses: [{
		                	to: 25,
		                }, {
		                    from: 25,
		                    to: 45
		                }, {
		                    from: 45,
		                    to: 65
		                }, {
		                    from: 65
		                }]
		            },
			        plotOptions: {
			        	series: {
			        		point: {
			        			events: {
			        				click: function() {
			        					var myState = this.code;
			        					$('.index-display').hide();
			        					$('#'+myState+'-card-display').show();
			        					tabInit();
			        					buildLocalCharts(myState);
			        					if ($(window).width() < 600) {
			        						$("html, body").animate({ scrollTop: 680 }, "slow");
			        					};
			        				}
			        			}
			        		}
			        	}
			        },
			        series: [{
			            data: data,
			            joinBy: 'name',
		            	name: 'Arrestos',
			            borderColor: 'white',
			            borderWidth: 1,
			            nullColor: '#e0e0e0',
			            states: {
			                hover: {
			                    color: '#ffffff',
				                borderColor: '#424242'
			                }
			            },
			            cursor: 'pointer', 
			            dataLabels: {
			                enabled: true,
			                format: '{point.properties.postal}'
			            }
			        }],
		            tooltip: {
		            	headerFormat: '<span style="font-size:12px; color:#454157">{point.key}</span><br>',
		            	pointFormat: '<span style="font-size:16px; color:#454157">{point.value}</span><br>'
		            }
			    }, function (chart) { 
					    var originalWidth = chart.chartWidth - 105;
					    chart.renderer.image('/assets/mini_logo.png', originalWidth, 50, 60, 52)
	    				.add();
	        	});		
			});
		<% end %>
		<% if @icon %>
			function buildLocalCharts(state) {
				<% @icon_table.each do |place| %>
					if (state == '<%= place["code"] %>') {
					Highcharts.chart('<%= place["code"]%>-icon-trend-chart', {
				    chart: {
				        type: 'line',
				        height: 136,
				        marginTop: 12,
				        backgroundColor: 'rgba(0,0,0,0)',
				    },
			        title: false, 
				       credits: false,
					exporting: {
						enabled: false
					},
			        legend: {
			        	enabled: false
			        },
			        xAxis: [{
			        	categories: [
			        		<% @evolutionArr.each do |period| %>
								"T<%= period.name[-1]%>/<%= I18n.l(period.first_day, format: '%Y')[2,2] %>",
			        		<% end %>
			        	], 
			        }],
			        yAxis: [{
			        	title: {
			        		text: null
			        	},
			        }],
			        series: [{
			        	data: [
			        		<% @evolutionArr.each do |period| %>
			        			["T<%= period.name[-1]%>/<%= I18n.l(period.first_day, format: '%Y')[2,2] %>",<%= place[period.name] %>],
			        		<% end %>
			        	],
			        	color: "#0A6868",
						tooltip: {
							headerFormat: '<span style="font-size:12px; color:#454157">{point.x}: {point.y}</span><br>',
							pointFormat: false,
						}
			        }]
				});
				Highcharts.chart('<%= place["code"]%>-icon-bar-chart', {
					chart: {
						type: 'column',
						height: 120,
						marginTop: 0,
						backgroundColor: 'rgba(0,0,0,0)',
					},
			        title: false, 
				    credits: false,
					exporting: {
						enabled: false
					},
			        legend: {
			        	enabled: false
			        },
			        xAxis: {
			        	categories: [
			        		'<%= @myModel.where(:code=>place["code"]).last.shortname %>',
			        		<% @myModel.where(:code=>place["code"]).last.comparison.each do |stateKey| %>
			        			'<%= @myModel.find(stateKey).shortname %>',
			        		<% end %>
			        	]
			        },
			        yAxis: {
			        	max: <%= place[:max].to_i %>,
			        	title: {
			        		text: null
			        	},
			        	labels: {
			        		enabled: false
			        	},
			        },
			        series: [{
			        	data: [
							{
		        				name: '<%= @myModel.where(:code=>place["code"]).last.shortname %>',
		        				y: <%= place[:score]%>,
		        				color: '<%= place[:color] %>'
	        				},
			        		<% place[:comparison].each do |stateKey| %>
			        			{
			        				name: '<%= stateKey[:name] %>',
			        				y: <%= stateKey[:score].to_f %>,
			        				color: '#e0e0e0',
			        			},
			        		<% end %>
			        	],
						tooltip: {
							headerFormat: '<span style="font-size:12px; color:#454157">{point.y}</span><br>',
							pointFormat: false,
						}
			        }]
				});
				<% @components.each do |component| %>
					Highcharts.chart('<%= component[:key] %>-<%= place["code"] %>-component-pie-chart', {
					    chart: {
					        type: 'pie',
					        height: 60,
					        width: 110,
					        margin: [0,55,0,0],
					    },
				        title: {
				        	align: "right",
				        	verticalAlign: 'middle',
				        	useHTML: '<span class="p16"><%= number_with_precision(place[component[:key]].to_f/component[:share], :precision=>1) %>%</span>',
				        	text: '<%= number_with_precision(place[component[:key]].to_f/component[:share], :precision=>1) %>%', 
				        }, 
					    credits: false,
						exporting: {
							enabled: false
						},
				        legend: {
				        	 enabled: false,
				        },
				        tooltip: false,
					    plotOptions: {
					        pie: {
					            allowPointSelect: true,
					            dataLabels: {
					                enabled: false
					            },
					            showInLegend: true,
					            innerSize: '40%',
								states: {
									inactive: {
										opacity: 1
									},
								},

					        },
					        series: {
					            states: {
					                hover: {
					                    halo: null,
					                }
					            }
					        },
					    },
				        series: [{
				        	data: [
			        			{
			        				name: '<%= place[component[:name]] %>',
			        				y: <%= place[component[:key]].to_f/component[:share] %>,
			        				<% if place[component[:key]].to_f/component[:share] > 65 %>
			        					color: "#f44336",
			        				<% elsif place[component[:key]].to_f/component[:share] > 45 %>
			        					color: "#ff9800",
			        				<% elsif place[component[:key]].to_f/component[:share] > 25 %>
			        					color: "#ffeb3b",
			        				<% else %>
				        				color: "#8bc34a",
			        				<% end %>
			        			},
			        			{
			        				name: null,
			        				y: 100-<%= place[component[:key]].to_f/component[:share] %>,
			        				color: '#e0e0e0',        				
			        			}
					        ],
				        }]
				    });
				<% end %>
					};
				<% end %>

			}
		<% elsif @irco%>
			function buildLocalCharts(place) {
				<% @icon_table.each do |place| %>
					if (place == '<%= place["code"] %>') {
						Highcharts.chart('<%= place["code"]%>-icon-trend-chart', {
						    chart: {
						        type: 'line',
						        height: 136,
						        marginTop: 12,
						        backgroundColor: 'rgba(0,0,0,0)',
						    },
					        title: false, 
						       credits: false,
							exporting: {
								enabled: false
							},
					        legend: {
					        	enabled: false
					        },
					        xAxis: [{
					        	categories: [
					        		<% @evolutionArr.each do |period| %>
										"T<%= period.name[-1]%>/<%= I18n.l(period.first_day, format: '%Y')[2,2] %>",
					        		<% end %>
					        	], 
					        }],
					        yAxis: [{
					        	title: {
					        		text: null
					        	},
					        }],
					        series: [{
					        	data: [
					        		<% @evolutionArr.each do |period| %>
					        			["T<%= period.name[-1]%>/<%= I18n.l(period.first_day, format: '%Y')[2,2] %>",<%= place[period.name] %>],
					        		<% end %>
					        	],
					        	color: "#0A6868",
								tooltip: {
									headerFormat: '<span style="font-size:12px; color:#454157">{point.x}: {point.y}</span><br>',
									pointFormat: false,
								}
					        }]
						});
						<% unless @countyWise %>
							Highcharts.chart('<%= place["code"]%>-icon-bar-chart', {
								chart: {
									type: 'column',
									height: 120,
									marginTop: 0,
									backgroundColor: 'rgba(0,0,0,0)',
								},
						        title: false, 
							    credits: false,
								exporting: {
									enabled: false
								},
						        legend: {
						        	enabled: false
						        },
						        xAxis: {
						        	categories: [
						        		<% if @countyWise %>
						        			'<%= @myModel.where(:full_code=>place["code"]).last.shortname %>',
						        		<% else %>
						        			'<%= @myModel.where(:code=>place["code"]).last.shortname %>',
						        		<% end %>
						        		<% @myModel.where(:code=>place["code"]).last.comparison.each do |placeKey| %>
						        			'<%= @myModel.find(placeKey).shortname %>',
						        		<% end %>
						        	]
						        },
						        yAxis: {
						        	max: <%= place[:max].to_i %>,
						        	title: {
						        		text: null
						        	},
						        	labels: {
						        		enabled: false
						        	},
						        },
						        series: [{
						        	data: [
										{
					        				name: '<%= @myModel.where(:code=>place["code"]).last.shortname %>',
					        				y: <%= place[:score]%>,
					        				color: '<%= place[:color] %>'
				        				},
						        		<% place[:comparison].each do |placeKey| %>
						        			{
						        				name: '<%= placeKey[:name] %>',
						        				y: <%= placeKey[:score].to_f %>,
						        				color: '#e0e0e0',
						        			},
						        		<% end %>
						        	],
									tooltip: {
										headerFormat: '<span style="font-size:12px; color:#454157">{point.y}</span><br>',
										pointFormat: false,
									}
						        }]
							});
						<% end %>
					};
				<% end %>
			}
		<% end %>
	})
</script>