<thead>
	<tr class="">
		<% if @my_freq_table[0][:pre_scope] %>
			<th>
				<div class="valign-wrapper">
					<span><%= @my_freq_table[0][:pre_scope] %></span>
					<%= render "shared/sortbutton"%>
				</div>	
			</th>
		<% end %>
		<th>
			<div class="valign-wrapper">
				<span><%= @my_freq_table[0][:scope]%></span>
				<%= render "shared/sortbutton"%>
			</div>	
		</th>
		<% if @my_freq_table[0][:organization] %>
			<th>
				<div class="valign-wrapper">
					<span><%= @my_freq_table[0][:organization]%></span>
					<%= render "shared/sortbutton"%>		
				</div>	
			</th>
		<% end %>
		<% if @my_freq_table[0][:role] %>
			<th>
				<div class="valign-wrapper">
					<span><%= @my_freq_table[0][:role]%></span>
					<%= render "shared/sortbutton"%>		
				</div>	
			</th>
		<% end %>
		<% if @my_freq_table[0][:gender] %>
			<th>
				<div class="valign-wrapper">
					<span><%= @my_freq_table[0][:gender]%></span>
					<%= render "shared/sortbutton"%>		
				</div>	
			</th>
		<% end %>
		<% @my_freq_table[0][:period].each do |period| %>
			<th>
				<div class="valign-wrapper">
					<span>
						<% if @annual %>
							<%= period.name %>
						<% elsif @quarterly %>
							T<%= period.name[-1]%>/<%= I18n.l(period.first_day, format: '%Y') %>
						<% else %>
							<%= I18n.l(period.first_day, format: '%b/%Y') %>
						<% end %>
					</span>
					<%= render "shared/sortbutton"%>
				</div>
			</th>
		<% end %>
		<% unless @my_freq_table[-1][:freq].length == 1%>
			<th>
				<div class="valign-wrapper">
					<span>TOTAL</span>
					<%= render "shared/sortbutton"%>
				</div>	
			</th>
		<% end %>
	</tr>
	<% unless @my_freq_table.length < 4 %>
		<tr class="total-tr paletton-translucent-red">
			<td> <%= @my_freq_table[-1][:name] %></td>
			<% if @my_freq_table[-1][:county_placer] %>
				<td><%= @my_freq_table[-1][:county_placer] %></td>
			<% end %>
			<% if @my_freq_table[-1][:organization_placer] %>
				<td><%= @my_freq_table[-1][:organization_placer] %></td>
			<% end %>
			<% if @my_freq_table[-1][:role_placer] %>
				<td><%= @my_freq_table[-1][:role_placer] %></td>
			<% end %>
			<% if @my_freq_table[-1][:gender_placer] %>
				<td><%= @my_freq_table[-1][:gender_placer] %></td>
			<% end %>
			<% @my_freq_table[-1][:freq].each do |x| %>
				<td class="right-align"><%= number_with_delimiter(x) %></td>
			<% end %>
			<% unless @my_freq_table[-1][:freq].length == 1  %>
				<td class="right-align"><%= number_with_delimiter(@my_freq_table[-1][:total_total]) %></td>
			<% end %>
		</tr>
	<% end %>
</thead>


<tbody id="sort-table"> 
	<% @my_freq_table[1..-2].each do |place| %>
		<% unless @stateWise && place[:name] == "Nacional" || @cityWise && place[:name] == "Nacional" || place[:full_code] == "00000"  %>
			<tr>
				<% if place[:parent_name] %>
					<td><%= place[:parent_name] %></td>
				<% end %>
				<td><%= place[:name] %></td>
				<% if place[:organization] %>
					<td><%= place[:organization] %></td>
				<% end %>
				<% if place[:role] %>
					<td><%= place[:role] %></td>
				<% end %>
				<% if place[:gender] %>
					<td><%= place[:gender] %></td>
				<% end %>
				<% place[:freq].each do |x| %>
					<td class="right-align"><%= number_with_delimiter(x) %></td>
				<% end %>
				<% unless @my_freq_table[-1][:freq].length == 1 %>
					<td class="right-align"><%= number_with_delimiter(place[:place_total]) %></td> 
				<% end %>
			</tr>
		<% end %>
	<% end %>
</tbody>