<script type="text/javascript">
		

	$(document).ready(function() {

		<% if @countyWise %>
			buildLocalCharts('00000')
		<% else %>
			buildLocalCharts('00');
		<% end %>

		$("#freq-table-trigger").click(function() {
			$(".freq-entry-display").hide();
			$("#freq-entry-list").show();
			$("#freq-map-trigger i").removeClass('active');
			$("#freq-table-trigger i").addClass('active');
			return false
	 	});
		$("#freq-map-trigger").click(function() {
			$(".freq-entry-display").hide();
			$("#freq-entry-map").show();
			$("#freq-map-trigger i").addClass('active');
			$("#freq-table-trigger i").removeClass('active');
			return false
	 	});

		if ($(window).height() < 600) {
			var mapHeight = 300
        } else {
        	var mapHeight = $(window).height()/2
        };

	 	// NATIONAL MAP
	 	<% if @cityWise %>
			var mxStates = [
			    ['mx-3622', null],
			    ['mx-bc', null],
			    ['mx-bs', null],
			    ['mx-so', null],
			    ['mx-cl', null],
			    ['mx-na', null],
			    ['mx-cm', null],
			    ['mx-qr', null],
			    ['mx-mx', null],
			    ['mx-mo', null],
			    ['mx-df', null],
			    ['mx-qt', null],
			    ['mx-tb', null],
			    ['mx-cs', null],
			    ['mx-nl', null],
			    ['mx-si', null],
			    ['mx-ch', null],
			    ['mx-ve', null],
			    ['mx-za', null],
			    ['mx-ag', null],
			    ['mx-ja', null],
			    ['mx-mi', null],
			    ['mx-oa', null],
			    ['mx-pu', null],
			    ['mx-gr', null],
			    ['mx-tl', null],
			    ['mx-tm', null],
			    ['mx-co', null],
			    ['mx-yu', null],
			    ['mx-dg', null],
			    ['mx-gj', null],
			    ['mx-sl', null],
			    ['mx-hg', null]
			];
			var data = [
				<% @my_freq_table[1..-2].each do |place| %>
					<% unless place[:name] == "Nacional" %>
						{
							code: '<%= place[:code]%>',
							name: '<%= place[:name] %>',
							lat: <%= County.find(City.where(:name=>place[:name]).last.core_county_id).towns.where(:name=>"Sin definir").last.latitude %>,
							lon: <%= County.find(City.where(:name=>place[:name]).last.core_county_id).towns.where(:name=>"Sin definir").last.longitude %>,
							value: <%= place[:place_total] %>,
							<% if place[:place_total] < 1 %>
								color: '#e0e0e0'
							<% elsif place[:place_total] <  @dataClasses[0] %>
								color: '#ffa0a0'
							<% elsif place[:place_total] <  @dataClasses[1] %>
								color: "#ef4e50"
							<% elsif place[:place_total] <  @dataClasses[2] %>
								color: "#ad1111"
							<% else %>
								color: '#610000'
							<% end %> 
						},
					<% end %>
				<% end %>
			]
			Highcharts.getJSON('/maps/mx-all.geojson', function (geojson) {
				Highcharts.mapChart('victim-map', {
			        chart: {
			            map: geojson,
			            height: mapHeight,
				        style: {
				            fontFamily: 'Montserrat'
				        },
			        },
			        title: false, 
			        credits: false,
			        mapNavigation: {
			            enabled: false,
			        },
					exporting: {
						enabled: false
					},
			        legend: {
			        	layout: 'vertical',
			        	align: 'left',
			        	verticalAlign: 'middle',
			        	x: 14,
			        	y: 90,
			        	floating: true,
			        	backgroundColor: 'white',
			            labelFormatter: function () {
			                if (this.to == 0) {
			                	return 0
			                } else {
			               		 return (this.from || '<') + ' - ' + (this.to || '>'); 	
			                }
			               
			            },
			        },
		            colors: ['#e0e0e0', "#ffa0a0", "#ef4e50", "#ad1111",'#610000'],
		            colorAxis: {
		                dataClassColor: 'category',
		                dataClasses: [{
		                	to: 0
		                }, {
		                	from: 0,
		                	to: <%= @dataClasses[0] %>,
		                }, {
		                    from: <%= @dataClasses[0] %>,
		                    to: <%= @dataClasses[1] %>
		                }, {
		                    from: <%= @dataClasses[1] %>,
		                    to: <%= @dataClasses[2] %>
		                }, {
		                    from: <%= @dataClasses[2] %>
		                }]
		            },
			        series: [
				        {
				            data: mxStates,
				            borderColor: 'white',
				            borderWidth: 1,
				            nullColor: '#e0e0e0', 
				            dataLabels: {
				                enabled: true,
				                format: '{point.properties.postal}'
				            }
				        }, {
				        	cursor: 'pointer',
				        	type: 'mappoint',
				        	data: data,
				        	marker: {
				        		radius: 5
				        	},
				            dataLabels: {
				                enabled: false,
				            },
				            tooltip: {
				            	headerFormat: '<span style="font-size:12px; color:#454157">{point.key}</span><br>',
				            	pointFormat: '<span style="font-size:16px; color:#454157">{point.value}</span><br>'
				            },
			        		point: {
			        			events: {
			        				click: function() {
			        					var myCity = this.code;
			        					$('.victim-toggle-charts').hide();
			        					$('.collection-item').hide();
			        					$('#'+myCity+'-victim-charts').show();
			        					$('#'+myCity+'-incident-charts').show();
			        					buildLocalCharts(myCity);
			        					if ($(window).width() < 600) {
			        						$("html, body").animate({ scrollTop: 680 }, "slow");
			        					};
			        				}
			        			}
			        		}
			            }
			        ],

			    }, function (chart) { 
					    var originalWidth = chart.chartWidth - 105;
					    chart.renderer.image('/assets/mini_logo.png', originalWidth, 50, 60, 52)
	    				.add();
	        	});	
	        });	
	 	<% else %>
			var data = [
				<% @my_freq_table[1..-2].each do |place| %>
					<% unless place[:name] == "Otros" %>
						{
							<% if @countyWise%>
								code: '<%= place[:code] %>',
								full_code:'<%= place[:full_code] %>',
							<% else %>
								code:'<%= place[:code] %>',
							<% end %>
							value:<%= place[:place_total] %>
						},
					<% end %>
				<% end %>
			];
			Highcharts.getJSON(
				<% if @countyWise %>
					'/maps/<%= @stateCode %>.geojson'
				<% else %>
					'/maps/national_map.json'
				<% end %>
			, function (geojson) {
			    Highcharts.mapChart('victim-map', {
			        chart: {
			            map: geojson,
			            height: mapHeight,
				        style: {
				            fontFamily: 'Montserrat'
				        },
			        },
			        legend: {
			        	layout: 'vertical',
			        	<% if @countyWise %>
			        		<% if @stateCode == "01" ||
			        			@stateCode == "04" ||
			        			@stateCode == "09" ||
			        			@stateCode == "13" ||
			        			@stateCode == "15" ||
			        			@stateCode == "14" ||
			        			@stateCode == "17" ||
			        			@stateCode == "21" ||
			        			@stateCode == "22" ||
			        			@stateCode == "23"
			        		%>
					        	align: 'left',
					        	verticalAlign: 'top',
					        <% elsif @stateCode == "16" ||
					        	@stateCode == "11" ||
					        	@stateCode == "07" ||
					        	@stateCode == "31"
					        %>
			        			align: 'right',
			        			verticalAlign: 'bottom',
			        		<% elsif @stateCode == "08" ||
			        			@stateCode == "20" ||
			        			@stateCode == "24"
			        		%>
			        			align: 'right',
			        			verticalAlign: 'top',
			        		<% else %>
			        			align: 'left',
			        			verticalAlign: 'bottom',
			        		<% end %>
			        	<% else %>
			        		align: 'left',
			        		verticalAlign: 'middle',
				        	x: 14,
				        	y: 90,
			        	<% end %>
			        	floating: true,
			        	backgroundColor: 'white',
			            labelFormatter: function () {
			                if (this.to == 0) {
			                	return 0
			                } else {
			               		 return (this.from || '<') + ' - ' + (this.to || '>'); 	
			                }			            },
			        },
			        title: false, 
			        credits: false,
			        mapNavigation: {
			            enabled: false,
			        },
					exporting: {
						enabled: false
					},
		            colors: ["#ffa0a0", "#ef4e50", "#ad1111",'#610000'],
		            colorAxis: {
		                dataClassColor: 'category',
		                dataClasses: [{
		                	from: 5,
		                	to: <%= @dataClasses[0] %>,
		                }, {
		                    from: <%= @dataClasses[0] %>,
		                    to: <%= @dataClasses[1] %>
		                }, {
		                    from: <%= @dataClasses[1] %>,
		                    to: <%= @dataClasses[2] %>
		                }, {
		                    from: <%= @dataClasses[2] %>
		                }]
		            },
			        plotOptions: {
			        	series: {
			        		point: {
			        			events: {
			        				<% if @countyWise %>
				        				click: function() {
				        					var myCounty = this.full_code;
				        					$('.victim-toggle-charts').hide();
				        					$('.collection-item').hide();
				        					$('#'+myCounty+'-victim-charts').show();
				        					$('#'+myCounty+'-incident-charts').show();
				        					buildLocalCharts(myCounty);
				        					if ($(window).width() < 600) {
				        						$("html, body").animate({ scrollTop: 680 }, "slow");
				        					};
				        				}
				        			<% else %>
				        				click: function() {
				        					<% if session[:membership] > 3 %>
					        					$('#preloader').removeClass('preloader-disappear');
					        					var urlString = '/victims/county_query/'+this.code;
					        					window.location = urlString;
					        				<% else %>
					        					var myState = this.code;
					        					$('.victim-toggle-charts').hide();
					        					$('.collection-item').hide();
					        					$('#'+myState+'-victim-charts').show();
					        					$('#'+myState+'-incident-charts').show();
					        					buildLocalCharts(myState);
					        					if ($(window).width() < 600) {
					        						$("html, body").animate({ scrollTop: 680 }, "slow");
					        					};
					        				<% end %>
				        				}
				        			<% end %>
			        			}
			        		}
			        	}
			        },
			        series: [{
			            data: data,
			            <% if @countyWise %>
			            	joinBy: 'full_code',
			            <% else %>
			            	joinBy: 'code',
			            <% end %>
		            	name: 'Arrestos',
			            borderColor: 'white',
			            borderWidth: 1,
			            nullColor: '#e0e0e0',
			            states: {
			                hover: {
			                    color: '#ffffff',
				                borderColor: '#424242'
			                }
			            },
			            cursor: 'pointer', 
			            dataLabels: {
			                enabled: true,
			                format: '{point.properties.postal}'
			            }
			        }],
		            tooltip: {
		            	headerFormat: '<span style="font-size:12px; color:#454157">{point.key}</span><br>',
		            	pointFormat: '<span style="font-size:16px; color:#454157">{point.value}</span><br>'
		            },
			    },
			    	<% unless @countyWise %>
				    	function (chart) { 
						    var originalWidth = chart.chartWidth - 105;
						    chart.renderer.image('/assets/mini_logo.png', originalWidth, 50, 60, 52)
		    				.add();

	        			}
	        		<% end %>
	        	);		
			});
		<% end %>

		// TREND CHART
		function buildLocalCharts(key) {
			<% @my_freq_table[1..-2].each do |place| %>
				<% unless place[:name] == "Otros*" %>
					<% unless place[:place_total] == 0 %>
					<% if @countyWise %>		
						if (key == "<%= place[:full_code] %>") {	
					<% else %>
						if (key == "<%= place[:code] %>") {
					<% end %>
							Highcharts.chart(key+'-victims-trend-chart', {
							    chart: {
							        type: 'line',
							        height: 124,
							        marginTop: 6,
							        marginBottom: 58,
							        style: {
							            fontFamily: 'Montserrat'
							        },
							    },
						        title: false, 
							       credits: false,
								exporting: {
									enabled: false
								},
						        legend: {
						        	enabled: false
						        },
						        xAxis: [{
						        	categories: [
						        		<% @my_freq_table[0][:period].each do |period| %>
											<% if @annual %>
												"<%= period.name %>"
											<% elsif @quarterly %>
												"T<%= period.name[-1]%>/<%= I18n.l(period.first_day, format: '%Y')[2,2] %>"
											<% else %>
												"<%= I18n.l(period.first_day, format: '%b/%Y') %>"
											<% end %>,
						        		<% end %>
						        	], 
						        }],
						        yAxis: [{
						        	title: {
						        		text: null
						        	},
						        }],
						        series: [{
						        	data: [
						        		<% (0..place[:freq].length-1).each do |x| %>
						        			[
						        				"<%= @my_freq_table[0][:period][x].name%>",
						        				<%= place[:freq][x] %>
						        			],
						        		<% end %>
						        	],
						        	color: "#0A6868",
									tooltip: {
<%# 										headerFormat: '<span style="font-size:12px; color:#454157">{point.x}: {point.y}</span><br>',
										pointFormat: false, %>
										pointFormat: '<span style="font-size:12px; color:#454157">{xAxis.categories[point.x]}: {point.y}</span><br>',
									}
						        }]
							});

							// GENDER PIE CHART
							Highcharts.chart(key+'-victims-gender-chart', {
							    chart: {
							        type: 'pie',
							        height: 112,
							        margin: 0,
							        style: {
							            fontFamily: 'Montserrat'
							        },
							    },
						        title: false, 
							    credits: false,
								exporting: {
									enabled: false
								},
						        legend: {
						        	enabled: false
						        },
							    plotOptions: {
							        pie: {
							            allowPointSelect: true,
							            cursor: 'pointer',
							            dataLabels: {
							                enabled: false
							            },
							            showInLegend: true,
							            innerSize: '40%',
										states: {
											inactive: {
												opacity: 1
											},
										},

							        }
							    },
						        series: [{
						        	data: [
						        		<% place[:genders].each do |gender| %>
						        			{
						        				name: '<%= gender[:name] %>',
						        				y: <%= number_with_precision(gender[:share]*100, precision: 1) %>,
						        				showInLegend: true,
						        				color: '<%= gender[:color] %>'
						        			},
						        		<% end %>
							        ],
									tooltip: {
										headerFormat: '<span style="font-size:12px; color:#454157">{point.key}: {point.y}%</span><br>',
										pointFormat: false,
									}

						        }]
							});

							// AGE BAR CHART
							Highcharts.chart(key+'-victims-age-chart', {
								chart: {
									type: 'bar',
									height: 108,
									marginTop: 22,
							        style: {
							            fontFamily: 'Montserrat'
							        },
								},
						        title: false, 
							    credits: false,
								exporting: {
									enabled: false
								},
						        legend: {
						        	enabled: false
						        },
						        xAxis: {
						        	categories: [
						        		<% place[:ages].each do |group| %>
						        			'<%= group[:name]%>',
						        		<% end %>
						        	]
						        },
						        yAxis: {
						        	title: {
						        		text: null
						        	},
						        	labels: {
						        		enabled: false
						        	},
						        },
						        series: [{
						        	data: [
						        		<% place[:ages].each do |group| %>
						        			{
						        				name: '<%= group[:name]%>',
						        				y: <%= number_with_precision(group[:share]*100, precision: 1) %>,
						        				color: '#EF974E',
						        				showInLegend: true,
						        			},
						        		<% end %>
						        	],
									tooltip: {
										headerFormat: '<span style="font-size:12px; color:#454157">{point.y}%</span><br>',
										pointFormat: false,
									}
						        }]
							});

							// POLICE BAR CHART
							Highcharts.chart(key+'-victims-police-chart', {
								chart: {
									type: 'bar',
									height: 120,
									marginTop: 8,
									marginLeft: 160,
							        style: {
							            fontFamily: 'Montserrat'
							        },
								},
						        title: false, 
							    credits: false,
								exporting: {
									enabled: false
								},
						        legend: {
						        	enabled: false
						        },	
						        xAxis: {
						        	categories: [
						        		<% place[:agencies].each do |agency| %>
						        			'<%= agency[:name]%>',
						        		<% end %>
						        	],
								    labels: {
								        style: {
								            textOverflow: 'none',
								            fontSize: "10px"
								        }					        
								    },
								},
						        yAxis: {
						        	title: {
						        		text: null
						        	},
						        	labels: {
						        		enabled: false
						        	},
						        },
						        series: [{
						        	data: [
						        		<% place[:agencies].each do |agency| %>
						        			{
						        				name: '<%= agency[:name]%>',
						        				y: <%= agency[:freq] %>,
						        				color: '#4DA7A7',
						        				showInLegend: true,
						        			},
						        		<% end %>
						        	],
									tooltip: {
										headerFormat: '<span style="font-size:12px; color:#454157">{point.y}</span><br>',
										pointFormat: false,
									}
						        }]
							});

							// TYPES CHART
							Highcharts.chart(key+'-victims-type-chart', {
								chart: {
							        type: 'pie',
								    height: 96,
								    margin: 0,
							        style: {
							            fontFamily: 'Poppins',
							        },
								},
						        title: false, 
							    credits: false,
								exporting: {
									enabled: false
								},
						        legend: {
						        	enabled: false
						        },
							    plotOptions: {
							        pie: {
							            allowPointSelect: true,
							            cursor: 'pointer',
							            dataLabels: {
							                enabled: false
							            },
							            showInLegend: true,
							            innerSize: '40%',
										states: {
											inactive: {
												opacity: 1
											},
										},

							        }
							    },
						        series: [{
						        	data: [
						        		<% place[:types].each do |type| %>
						        			{
						        				name:
						        					<% if type[:name] == "Transporte público" %>
						        						'Transporte de pasajeros',
						        					<% else %>
						        						'<%= type[:name] %>',
						        					<% end %>
						        				y: <%= number_with_precision(type[:share]*100, precision: 1) %>,
						        				showInLegend: true,
						        				color: '<%= type[:color] %>'
						        			},
						        		<% end %>
						        		// {
					        			// 	y: <%= number_with_precision(*100, precision: 1) %>,
					        			// 	showInLegend: true,
						        		// }
							        ],
									tooltip: {
										headerFormat: '<span style="font-size:12px; color:#454157">{point.key}: {point.y}%</span><br>',
										pointFormat: false,
									}

						        }]
							});
							
							// MASSACRE CHART
							<% @pieStrings.each do |myString| %>
								Highcharts.chart(key+'-<%= myString %>-chart', {
									chart: {
								        type: 'pie',
								        height: 96,
								        margin: 0,
									},
							        title: false, 
								    credits: false,
									exporting: {
										enabled: false
									},
							        legend: {
							        	enabled: false
							        },
								    plotOptions: {
								        pie: {
								            allowPointSelect: true,
								            cursor: 'pointer',
								            dataLabels: {
								                enabled: false
								            },
								            showInLegend: true,
								            innerSize: '40%',
											states: {
												inactive: {
													opacity: 1
												},
											},

								        }
								    },
							        series: [{
							        	data: [
						        			{
						        				name: '<%= place[myString][:freq]%>',
						        				y: <%= number_with_precision(place[myString][:share]*100, precision: 1) %>,
						        				color: '#EF4E50',
						        			},{
						        				name: "Otros",
						        				y: 100 - <%= number_with_precision(place[myString][:share]*100, precision: 1) %>,
						        				color: '#e0e0e0',
						        				noTooltip: true
						        			}

								        ],
							        }],
										tooltip: {
										    formatter: function() {
										        if(!this.point.noTooltip) {
										            return "<div class='p11'>"+this.point.name+" incidentes <br>"+this.point.y+"% de las víctimas</div>";
										        }
										        return false;
										    }
										}
									})	
							<% end %>
						}
					<% end %>
				<% end %>
			<% end %>
		// };
		// function buildIncidentCharts(key) {
		// 	<% @my_freq_table[1..-2].each do |place| %>
		// 		<% unless place[:place_total] == 0 %>
		// 			<% if @countyWise %>		
		// 				if (key == "<%= place[:full_code] %>") {
							
		// 			<% else %>
		// 				if (key == "<%= place[:code] %>") {
		// 			<% end %>
							

		// 				};
		// 		<% end %>
		// <% end %>
		};
	});
</script>