<div class="row white">
	<div class="title-area white valign-wrapper">
		<div class="col l6 m8 s12">
			<h5><span class="slim">Resultados de la consulta:</span> <%= @type_of_query %></h5>
			<% if @county_query %>
				<h5 class="cyan-text text-darken-2"><%= @my_county.name %>, <%= @my_county.state.shortname %>.</h5>
			<% end %>
			<% if @state_query %>
				<h5 class="cyan-text text-darken-2"><%= @my_state.name %></h5>
			<% end %>
			<% if @city_query %>
				<h5 class="cyan-text text-darken-2">Zona Metropolitana de <%= @my_city.name %></h5>
			<% end %>
			<% if @month_query %>
				<h5 class="cyan-text text-darken-2"><%= @my_month["month"] %>/<%= @my_month["year"] %></h5>
			<% end %>
		</div>
		<div class="col l6 m8 s12">
			<div class="right">
				<% unless session[:page] == 1 %>
					<a class="btn-floating btn-small waves-effect waves-light cyan" href="/pageback"><i class="material-icons">arrow_back</i></a><span>	</span>
				<%end%>
				<span class="side-margin"><%= @beginning %> a <%= @end %> de <%= number_with_delimiter(@data_length) %> registros	</span>
				<% unless @finalPage %>
					<a class="btn-floating btn-small waves-effect waves-light cyan" href="/pageforward"><i class="material-icons">arrow_forward</i></a>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-content grey lighten-3">
		<div class="row">
			<div class="col s12">
				<table class="highlight p12">
					<thead>
						<tr>
							<% @header.each do |head| %>
								<th class="center-align"><%= head %></th>
							<% end %>
						</tr>
					</thead>
					<tbody>
						<% if @type_of_query == "Ejecuciones" %>
							<%= render "shared/killingquery"%>
						<% elsif @type_of_query == "Víctimas" %>
							<%= render "shared/victimquery"%>
						<% elsif @type_of_query == "Fuentes" %>
							<%= render "shared/sourcequery"%>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>