  <!DOCTYPE html>
  <html>
  <head>
    <title>Lantiamaster</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+"AIzaSyBWd0Mv-5p6ARfMQTRyC3pmNPuMucGL2i4" %>
    <%= yield(:head_tags) %>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.3/proj4.js"></script>      
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <script type="text/javascript">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      body{
        background-color: #051c2c !important;
      }

      .nav-wrapper {
      padding-top: 24px;
        padding-bottom: 20px;
        background-color: #051c2c
    }

    .page-footer {
      padding: 0
    }
      .dark-nav {
      background-color: #050a18 !important;
    }
    .big-font {
      font-size: 18px !important;
      font-weight: 500;
    }

    .extra-height {
    }

    .front-container {
      background-color: #050a18 !important; 
      height: 100%;
      box-sizing: border-box !important;    
    }



    #video-container {
      background-color: yellow;
      heigh: 100px !important;
    }

    #hero {
      min-height: 100vh;
      position: :relative;
    }

      video{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit:cover;
      }


      .capa {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }

    h3 {
      color: #ef4e50;
      font-weight: 1000;
    }

    .login-button, .contact-button {
      border: solid 3px #ef4e50;  
      margin-left: 20px;
    } 

    .contact-button {
      color: white;
      padding: 12px;

    }

    #front-header {
      color: white;
      margin-top: 120px;
    }

    #front-promo {
      width: 70%;
    }

    #front-header * p {
      margin-top: 20px !important;
      line-height: 24px;
      font-size: 18px;
    }

    .front-opacity {
      background-color: rgba(5, 10, 24, 0.2);
    }

    .front-section {
      padding-bottom: 100px;
    }

    ul {
      padding-right: 80px;
    }

    .nav-mobile li {
      margin-top: 20px;
    }

    svg {
      height: 65px;
      vertical-align: middle;
      margin-top: 8px;
      margin-left: 20px;
    }

    .center-section {
      display: flex;
      justify-content: center;      
    } 

    .front-section .center-row {
      display: flex;
      justify-content: center;
    }

    .card-content {
      vertical-align: middle;

    }
    i {
      display: flex;
      vertical-align: middle;
      padding-right: 10px;
    }
    h4 {
      margin-top: 0px;
      border-top: 15px solid #ef4e50;
      padding-top: 25px;
      font-weight: 1000;
    }

    .card-image iframe {
      frameborder: 0;
      height: 400px;
      width: 100%;
      padding-bottom: 10px;
    }

    #us-section * p {
      text-align: center;
    }

    #us-image {
      background-image: url('https://lantiaintelligence.com/img/about/about.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .page-footer{
      background: #ef4e50;
    }

  </style>
  </head>
  <body>
      <main id="hero">
        <video autoplay="" muted="" loop="" id="front-video">
                <source src="https://lantiaintelligence.com/img/video-home.mp4" type="video/mp4">
        </video>
        <div class="capa">
  <div class="navbar-fixed hide-on-med-and-down">
    <nav class="nav-wrapper dark-nav extra-height z-depth-0">
      <div class="tall-field dark-nav">
        <%= render "shared/lantialogo" %>
        <ul id="nav-mobile" class="right">
          <li><a class="big-font" href="#hero">INICIO</a></li>
          <li><a class="big-font" href="#us-section">NOSOTROS</a></li>
          <%# <li><a class="big-font" href="collapsible.html">PRENSA</a></li> %>
          <li><a class="big-font" href="#data-section">DATOS</a></li>
          <li><a class="big-font" href="#service-section">SERVICIOS</a></li>
          <li><a class="big-font login-button" href="/password">INICIA SESIÓN</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="navbar-fixed  hide-on-large-only">
    <nav class="nav-wrapper dark-nav extra-height z-depth-0" >
      <div class="tall-field dark-nav">
        <%= render "shared/lantialogo" %>
        <ul id="nav-mobile" class="right">
          <li><a class="big-font login-button" href="/password">INICIA SESIÓN</a></li>
        </ul>
      </div>
    </nav>
  </div>
      <div id="front-header" class="row">
        <div class="container">
          <div class="col l7 m12 s12 offset-l5 front-opacity">
            <p></p>
            <a href="https://youtu.be/sb1UB1-jqnA"><img id="front-promo" src="https://lantiaintelligence.com/img/home/video.jpg" alt="Video"></a>
            <h5 >BIENVENIDO A</h5>
            <h3 class="h5-no-margin">LANTIA INTELLIGENCE</h3>
            <p>Plataforma de datos y análisis sobre seguridad, crimen organizado y conflictividad social. La solución para mitigar riesgos e informar la toma de decisiones.</p>
          </div>
        </div>
      </div>
        </div>
    </main> 
    <div id="us-section" class="front-section">
      <div class="row center-row">
        <h4 class="white-text">NOSOTROS</h4>
      </div>  
      <div class="row">
        <div class="col s8 m6 offset-s2 offset-m3">
          <p class="white-text">Lantia Intelligence es una plataforma digital de datos sobre violencia, crimen organizado y conflictividad social en México. Desarrollada por el equipo de Lantia Consultores, que tiene más de diez años de experiencia en el análisis y recopilación de datos en México, Lantia Intelligence ofrece un repertorio amplio de información precisa, actualizada y útil para el desarrollo e implementación de políticas y estrategias de seguridad.</p>
        </div>
      </div>
      <div id="us-image" class="row">
        <div class="col l5 m7 s12 white">
          <div class="card z-depth-0">
            <div class="card-content">
              <span class="card-title">EN AÑOS RECIENTES EL CRIMEN ORGANIZADO HA CREADO DESAFÍOS SIN PRECEDENTES PARA LA CIUDADANÍA, LAS EMPRESAS Y LAS AUTORIDADES EN VARIAS REGIONES DEL PAÍS.</span>
              <span>En ausencia de una estrategia eficaz y oportuna para hacer frente a estos desafíos, las crisis de inseguridad y violencia han deteriorado la calidad de vida de la población y han tenido un impacto negativo sobre las inversiones y la actividad económica. Estas crisis han dado lugar a escenarios de ingobernabilidad en los lugares en los que ha coincidido con conflictos políticos y sociales más amplios.<br><br>Lantia Intelligence busca contribuir a entender y aliviar la crisis de seguridad en México con la recopilación minuciosa de datos, análisis rigurosos con metodologías novedosas y probadas, y el diseño de políticas y estrategias efectivas para clientes en los sectores público y privado.<br><br>Lantia Intelligence se especializa en el diseño de soluciones innovadoras en los ámbitos de la inseguridad, la violencia y los riesgos sociales —particularmente aquéllos derivados de la presencia de organizaciones criminales y conflictos sociales. Nuestros productos combinan la investigación a profundidad, técnicas de análisis cualitativo y cuantitativo, y la adaptación de las mejores prácticas locales e internacionales.<br><br>Somos pioneros en el desarrollo de bases de datos sobre actividades del crimen organizado, violencia, conflictividad social y riesgos de seguridad en México.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="data-section" class="front-section">
      <div class="row center-row">
        <h4 class="white-text">DATOS</h4>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <h6>VÍCTIMAS LETALES DEL CRIMEN ORGANIZADO</h6>
            </div>
            <div class="card-image">
              <iframe src="https://dashboard.lantiaintelligence.com/year_victims"></iframe>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <h6>VÍCTIMAS LETALES DEL CRIMEN ORGANIZADO</h6>
            </div>
            <div class="card-image">
              <iframe src="https://dashboard.lantiaintelligence.com/state_victims" frameborder="0" height="300px" width="100%"></iframe>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <h6>VÍCTIMAS LETALES DEL CRIMEN ORGANIZADO</h6>
            </div>
            <div class="card-image">
              <iframe src="https://dashboard.lantiaintelligence.com/county_victims" frameborder="0" height="300px" width="100%"></iframe>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <h6>VÍCTIMAS LETALES DEL CRIMEN ORGANIZADO</h6>
            </div>
            <div class="card-image">
              <div class="b-container">
                <iframe src="https://dashboard.lantiaintelligence.com/county_victims_map" frameborder="0" height="300px" width="100%"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div id="service-section" class="front-section">
        <div class="row center-row">
          <h4 class="white-text">SERVICIOS</h4>
        </div>
        <div class="row">
          <div class="center-section s6 m4 l3">
                <div class="card white">
                  <div class="card-content grey-text text-darken-3">
                      <span class="card-title">SUSCRIPCIÓN INSTITUCIONAL</span>
                    <p>Licencias que se adaptan a las necesidades de empresas e instituciones académicas.</p>
                  </div>
                  <div class="card-action">
                    <h6>ACTUALIZACIONES EN TU CORREO</h6>
                    <p><i class="small material-icons red-text text-darken-1">chevron_right</i>Briefing Semanal</p>
                    <p><i class="small  material-icons red-text text-darken-1">chevron_right</i>Reporte de Violencia del Crimen Organizado</p>
                    <p><i class="small material-icons red-text text-darken-1">chevron_right</i>Eeporte de Riesgo Electoral</p>
                    <p><i class="small material-icons red-text text-darken-1">chevron_right</i>Reporte de Riesgo Social</p>
                    <p><i class="small material-icons red-text text-darken-1">chevron_right</i>Prospectiva de Seguridad</p>
                </div>
                  <div class="card-action">
                    <h6>PLATAFORMA DE DATOS</h6>
                    <p><i class="small material-icons red-text text-darken-1">chevron_right</i>Víctimas Letales del Crimen Organizado (mensual, estatal y municipal)</p>
                    <p><i class="small  material-icons red-text text-darken-1">chevron_right</i>Organizaciones Criminales (presencia estatal y municipal, y fichas por organización)</p>
                    <p><i class="small material-icons red-text text-darken-1">chevron_right</i>Índice de Riesgo por Crimen Organizado (estatal y 200 municipios con cobertura)</p>
                    <p><i class="small material-icons red-text text-darken-1">chevron_right</i>Índice de Conflictividad (estatal)</p>
                    <p><i class="small material-icons red-text text-darken-1">chevron_right</i>Arrestos Vinculados con Crimen Organizado</p>
                    <p><i class="small material-icons red-text text-darken-1">chevron_right</i>Archivo Lantia</p>
                    <p><i class="small material-icons red-text text-darken-1">chevron_right</i>Tabulados y herramientas de filtro, análisis y descarga de datos</p>
                  </div>
                </div>
           </div>
          </div>
         <div class="row center-row">
          <a class="contact-button big-font" href="">CONTACTAR</a>
        </div>
    </div>
  </body>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">          </div>
          <div class="col l4 offset-l2 s12">
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://lantiaintelligence.com/docs/TerminosYCondiciones.pdf">TÉRMINOS Y CONDICIONES</a></li>
              <li><a class="grey-text text-lighten-3" href="https://lantiaintelligence.com/docs/AvisoDePrivacidad.pdf">AVISO DE PRIVACIDAD</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        LANTIA INTELLIGENCE TODOS LOS DERECHOS RESERVADOS
        <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
      </div>
    </footer>
  </html>