<% provide :head_tags do %>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			
			$("#freq-map-trigger").click(function() {
				$(".freq-entry-display").hide();
				$("#freq-entry-map").show();
				return false
		 	})

			$("#freq-list-trigger").click(function() {
				return false
		 	})

				var data = [
					<% @placeArr.each do |place| %>
						{
							<% if @checkedStates.length != 1 %>
								code:'<%= place[:code] %>',
							<% else %>
								full_code:'<%= place[:full_code] %>',
							<% end %>
							value:<%= place[:coalition] %>, rackets:'<% place[:rackets].each do |racket|%><span style="color:<%= racket[:color] %>">- <%= racket[:name][0..32] %><% if racket[:name].length > 33 %>...<% end %><span><br><% end %>', freq:<%= place[:freq]%>, 
							<% if place[:freq] == 1 %>
								string:'organización'
							<% else %>
								string:'organizaciones'
							<% end %>
						},
					<% end %>
				];

				Highcharts.getJSON(
					<% if @checkedStates.length != 1 %>
						'/maps/national_map.json'
					<% else %>
						'/maps/<%= State.find(@checkedStates.last).code %>.geojson'
					<% end %>
					, function (geojson) {
				    Highcharts.mapChart('org-entry-map', {
				        chart: {
				            map: geojson,
				            height: 320,
				        },
				        legend: false,
				        title: false, 
				        credits: false,
				        mapNavigation: {
				            enabled: false,
				        },
						exporting: {
							enabled: false
						},
			            colorAxis: {
			            	dataClasses: [{
				                to: 0.9,
				                color: "#FF7575"
				            },{
				            	from: 0.9,
				            	to: 1.9,
				            	color: '#80cbc4'
				            },{
				            	from: 1.9,
				            	to: 2.9,
				            	color: '#ffcc80'			            	
				            },{
				            	from: 2.9,
				            	color: '#454157'	
				            }]
				        },
				        <% if @checkedStates.length != 1 %>
					        plotOptions: {
					        	series: {
					        		point: {
					        			events: {
					        				click: function() {
					        					var urlString = 'organizations_query/'+this.code;
					        					window.location = urlString;
					        				}
					        			}
					        		}
					        	}
					        },
					    <% end %>
				        series: [{
				            data: data,
				            <% if @checkedStates.length != 1 %>
				            	joinBy: 'code',
				            <% else %>
				            	joinBy: 'full_code',
				            <% end %>
			            	name: 'Organizaciones',
				            borderColor: 'white',
				            borderWidth: 1,
				            nullColor: '#bdbdbd',
				            states: {
				                hover: {
				                    color: '#ffffff',
					                borderColor: '#424242'
				                }
				            },
				            <% if @checkedStates.length != 1 %>
				            	cursor: 'pointer',
				            <% end %>
				            tooltip: {
				            	borderWidth: 0,
				            	headerFormat: '<span style="font-size:14px; color:#454157">{point.key}</span><br>',
				            	pointFormat: '<div style="padding-bottom:12px"><span style="color:#454157">{point.freq} {point.string}:</span></div><br><div>{point.rackets}</div>',
				            	style: {
				            		pointerEvents: 'auto'
				            	},
				            }
				        }],
				    },
				 //    <% if @checkedStates.length == 1 %>
					// function (chartt) { // on complete
					// 	chartt.renderer.image('/assets/mexico-icon.png',0,0,60,40).on('click', function() {
     //    					var urlString = '/organizations/query';
     //    					window.location = urlString;	
					// 	})
    	// 				.add();
    	// 			}
    	// 			<% end %>
				);
			});	
		})
	</script>
<% end %>
<div class="row">
	<%= render "shared/organizationsdashboard"%>
	<div class="header-div">
		<div class="top-row valign-wrapper">
			<div class="col s12">
				<div class="side-padding">
					<h5 class="h5-no-margin">Organizaciones criminales</h5>
					<%= render "shared/scopetitle" %>
				</div>
			</div>
		</div>	
	</div>
	<div class="entry col l9 m7 s12">
		<div class="card flex-card">
			<div class="card-content">
				<div class="row card-narrow">
					<%= render "shared/showfilter"%>
					<div class="legend-box col l6 m12">
						<div class="bottom-margin-div">
						<span class="header-tag">COALICIÓN</span>
						</div>
						<% if @checkedCoalitions.pluck("name").include? "Cártel de Sinaloa" %>
							<div class="bottom-margin-div">
								<div class="valign-wrapper">
									<div class="pseudo-button valign-wrapper">
										<i class="material-icons tiny right-min-margin teal lighten-3 teal-text text-lighten-3 z-depth-1">brightness_1</i>
									</div>
									<span class="header-tag">Cártel de Sinaloa</span>
								</div>
							</div>
						<% end %>
						<% if @checkedCoalitions.pluck("name").include? "Cártel Jalisco Nueva Generación" %>
							<div class="bottom-margin-div">
								<div class="valign-wrapper">
									<div class="pseudo-button valign-wrapper">
										<i class="material-icons tiny right-min-margin orange lighten-3 orange-text text-lighten-3 z-depth-1">brightness_1</i>
									</div>
									<span class="header-tag">Cártel Jalisco Nueva Generación</span>
								</div>
							</div>
						<% end %>
						<% if @checkedCoalitions.length > 1 %>
							<div id="multicoalition-label" class="bottom-margin-div">
								<div class="valign-wrapper">
									<div class="pseudo-button valign-wrapper">
										<i class="material-icons tiny right-min-margin paletton-light-red paletton-light-red-text z-depth-1">brightness_1</i>
									</div>
									<span class="header-tag">Ambas coaliciones</span>
								</div>
							</div>
						<% end %>
						<% if @checkedCoalitions.pluck("name").include? "Sin vinculación" %>
							<div class="bottom-margin-div">
								<div class="valign-wrapper">
									<div class="pseudo-button valign-wrapper">
										<i class="material-icons tiny right-min-margin paletton-grey paletton-grey-text z-depth-1">brightness_1</i>
									</div>
									<span class="header-tag">Sin coalición</span>
								</div>
							</div>
						<% end %>
						<% if @checkedStates.length == 1 %>
							<div>
								<a href="/organizations/query">
									<img src="/assets//mexico-icon.png" class="mexico-icon">
								</a>
							</div>
						<% end %>
						<div id="org-entry-map" class="org-entry-display">
						</div>
					</div>
					<div class="col l6 m12">
						<div id="org-entry-list" class="org-entry-display">
							<table id="org-table" class="highlight">
								<col>
								<colgroup span="3"></colgroup>
			  					<colgroup span="<%= @myActivities.length %>"></colgroup>
								<thead>
<!-- 									<tr>
 --><!-- 										<th class="center-align" colspan="3" scope="colgroup">CARACTERÍSTICAS GENERALES</th>
 -->		<!-- 								<th class="center-align" colspan="<%= @myActivities.length %>" scope="colgroup">GIROS DELICTIVOS</th>
		 --><!-- 							</tr> -->
									<tr class="center-align">
										<th class="center-align">NOMBRE</th>
										<th class="center-align" >TIPO</th>
										<th class="center-align" >SUBTIPO</th>
		<!-- 								<% @myActivities.each do |activity| %>
											<th class="center-align small-cell">
												<% if activity.shortname %>
													<%= activity.shortname %>
												<% else %>
													<%= activity.name %>
												<% end %>
											</th>
										<% end %> -->
									</tr>
								</thead>
								<tbody>
									<% (0..@n).each do |n| %>
										<tr class="clickable-row" data-href="/organizations/show/<%= @alliedCartels[n].id %>">
											<td>
												<div class="valign-wrapper">
													<div class="pseudo-button valign-wrapper">
														<i class="material-icons right-min-margin <%= @colorArr[n] %> lighten-3 <%= @colorArr[n] %>-text text-lighten-3 z-depth-1">brightness_1</i>
													</div>
													<span class="valign-wrapper">
														<%= @alliedCartels[n].name %>
													</span>
												</div>		
											</td>
											<td><%= @alliedCartels[n].league %></td>
											<td>
												<% if @alliedCartels[n].subleague %>
													<%= @alliedCartels[n].subleague %>
												<% else %>
													--
												<% end %>
											</td>
		<!-- 									<% @myActivities.each do |activity| %>
												<td class="center-align">
													<% if @alliedCartels[n].divisions.include? activity%>
														<i class="material-icons">check</i>
													<% end %>
												</td>
											<% end %> -->
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
<!-- 					<div class="right col m4 s9">
						<div class="right">
							<a id="freq-info-trigger" href=""><i class="small material-icons grey-text text-lighten-2 right-extra-margin">info</i></a>
							<a id="freq-table-trigger" href=""><i class="small material-icons paletton-red-text right-extra-margin">list</i></a>
							<a id="freq-map-trigger" href=""><i class="small material-icons paletton-red-text right-extra-margin">map</i></a>
							<a id="freq-download-trigger" href=""><i class="small material-icons grey-text text-lighten-2 right-extra-margin">cloud_download</i></a>
						</div> -->
<!-- 					</div>
 -->			</div>
			</div>
		</div>
	</div>
</div>