<% provide :head_tags do %>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			
			$("#freq-map-trigger").click(function() {
				$(".freq-entry-display").hide();
				$("#freq-entry-map").show();
				return false
		 	})

			$("#freq-list-trigger").click(function() {
				return false
		 	})

			if ($(window).height() < 600) {
				var mapHeight = 300
	        } else {
	        	var mapHeight = $(window).height()/2
	        }; 

				var data = [
					<% @placeArr.each do |place| %>
						{
							<% if @checkedStates.length != 1 %>
								code:'<%= place[:code] %>',
							<% else %>
								full_code:'<%= place[:full_code] %>',
							<% end %>
							value:<%= place[:coalition] %>, rackets:'<% place[:rackets][0..@racketLimit].each do |racket|%><span style="color:<%= racket[:color]%>; font-size:10px">- <%= racket[:name][0..32] %><% if racket[:name].length > 33 %>...<% end %><span><br><br><% end %><% if place[:rackets].length > @racketLimit %><span style="font-size:10px">...</span><% end %>',
							freq:<%= place[:freq]%>, 
							<% if place[:freq] == 1 %>
								string:'organización'
							<% else %>
								string:'organizaciones'
							<% end %>
						},
					<% end %>
				];

				Highcharts.getJSON(
					<% if @checkedStates.length != 1 %>
						'/maps/national_map.json'
					<% else %>
						'/maps/<%= State.find(@checkedStates.last).code %>.geojson'
					<% end %>
					, function (geojson) {
				    Highcharts.mapChart('org-entry-map', {
				        chart: {
				            map: geojson,
				            <% if @checkedStates.length != 1 %>
				            	height: mapHeight,
				            <% else %>	
				            	<% if @shortMap.include? @checkedStates.last %>
				            		height: mapHeight - 12,
				            	<% else %>
				            		height: mapHeight + 28,
				            	<% end %>
				            <% end %>
					        style: {
					            fontFamily: 'Montserrat'
					        },
				        },
				        legend: false,
				        title: false, 
				        credits: false,
				        mapNavigation: {
				            enabled: false,
				        },
				        <% unless session[:admin] %>
						exporting: {
							enabled: false
						},
						<% end %>
			            colorAxis: {
			            	dataClasses: [{
				                to: 0.9,
				                color: "#FF7575"
				            },{
				            	from: 0.9,
				            	to: 1.9,
				            	color: '#80cbc4'
				            },{
				            	from: 1.9,
				            	to: 2.9,
				            	color: '#ffcc80'			            	
				            },{
				            	from: 2.9,
				            	color: '#454157'	
				            }]
				        },
				        <% if @checkedStates.length != 1 %>
					        plotOptions: {
					        	series: {
					        		className: "preloader-trigger",
					        		point: {
					        			events: {
					        				<% if session[:membership] > 3 %>
						        				click: function() {
						        					$('#preloader').removeClass('preloader-disappear')
						        					var urlString = 'organizations_query/'+this.code;
						        					window.location = urlString;
						        				}
					        				<% end %>
					        			}
					        		}
					        	}
					        },
					    <% end %>
				        series: [{
				            data: data,
				            <% if @checkedStates.length != 1 %>
				            	joinBy: 'code',
				            <% else %>
				            	joinBy: 'full_code',
				            <% end %>
			            	name: 'Organizaciones',
				            borderColor: 'white',
				            borderWidth: 1,
				            nullColor: '#e0e0e0',
				            states: {
				                hover: {
				                    color: '#ffffff',
					                borderColor: '#424242'
				                }
				            },
				            <% if @checkedStates.length != 1 && session[:membership] > 3 %>
				            	cursor: 'pointer',
				            <% end %>
				            tooltip: {
				            	borderWidth: 0,
				            	headerFormat: '<span style="font-size:12px; color:#A09EAB">{point.key}</span><br>',
				            	pointFormat: '<div style="padding-bottom:12px"><span style="color:#A09EAB; font-size:10px">{point.freq} {point.string}:</span></div><br><div>{point.rackets}</div>',
				            	style: {
				            		pointerEvents: 'auto'
				            	},
							    useHTML: true, // HTML for overflow
				            }
				        }],
				    },
				);
			});	
		})
	</script>
<% end %>
<div class="row">
	<%= render "shared/organizationsdashboard"%>
	<div class="header-div">
		<div class="top-row valign-wrapper">
			<div class="col s12">
				<div class="info-box inline-block">
					<a id="victims-info-modal-trigger" class="modal-trigger" href="#organizations-info-modal"><i class="small material-icons paletton-red-text right-min-margin">info</i></a>
				</div>
				<div class="info-box inline-block">
					<h5 class="h5-no-margin"><%= @type_title %></h5>
					<%= render "shared/scopetitle" %>
					<h6  class="" style="visibility: hidden">
					T<%= @quarters.first.name[-1]%>/<%= I18n.l(@quarters.first.first_day, format: '%Y') %><% if @quarters.length > 1 %> - T<%= @quarters.last.name[-1]%>/<%= I18n.l(@quarters.last.first_day, format: '%Y') %><% end %>
					</h6>
				</div>
				<div class="top-extra-margin">
					<div class="card
						<% if @checkedStates.length < 32 %> 
							flex-card
						<% else %>
							long-card
						<% end %>
					">
						<div class="card-content">
							<div class="row card-narrow">
								<% if session[:membership] > 3 %>
									<div class="hide-on-med-and-up">
										<%= render "shared/showfilter"%>
									</div>
								<% end %>
								<div class="legend-box col l7 m12 s12">
									<div class="bottom-margin-div">
										<div class="info-box inline-block">
											<a id="top-detentions-modal-trigger" class="modal-trigger valign" href="#coalition-info-modal"><i class="tiny material-icons paletton-red-text right-min-margin">info</i></a>
										</div>
										<span class="header-tag bold">COALICIÓN</span>
									</div>
									<% if @checkedCoalitions.pluck("name").include? "Cártel de Sinaloa" %>
										<div class="bottom-margin-div">
											<div class="valign-wrapper">
												<div class="pseudo-button valign-wrapper">
													<i class="material-icons tiny right-min-margin teal lighten-3 teal-text text-lighten-3 z-depth-1">brightness_1</i>
												</div>
												<span class="header-tag">Cártel de Sinaloa</span>
											</div>
										</div>
									<% end %>
									<% if @checkedCoalitions.pluck("name").include? "Cártel Jalisco Nueva Generación" %>
										<div class="bottom-margin-div">
											<div class="valign-wrapper">
												<div class="pseudo-button valign-wrapper">
													<i class="material-icons tiny right-min-margin orange lighten-3 orange-text text-lighten-3 z-depth-1">brightness_1</i>
												</div>
												<span class="header-tag">Cártel Jalisco Nueva Generación</span>
											</div>
										</div>
									<% end %>
									<% if @checkedCoalitions.length > 1 %>
										<div id="multicoalition-label" class="bottom-margin-div">
											<div class="valign-wrapper">
												<div class="pseudo-button valign-wrapper">
													<i class="material-icons tiny right-min-margin paletton-light-red paletton-light-red-text z-depth-1">brightness_1</i>
												</div>
												<span class="header-tag">Ambas coaliciones</span>
											</div>
										</div>
									<% end %>
									<% if @checkedCoalitions.pluck("name").include? "Sin coalición" %>
										<div class="bottom-margin-div">
											<div class="valign-wrapper">
												<div class="pseudo-button valign-wrapper">
													<i class="material-icons tiny right-min-margin paletton-grey paletton-grey-text z-depth-1">brightness_1</i>
												</div>
												<span class="header-tag">Sin coalición</span>
											</div>
										</div>
									<% end %>
									<% if @checkedStates.length == 1 %>
									<div>
										<a href="/organizations/query" class="preloader-trigger">
											<img src="/assets//mx-icon.png" class="mexico-icon">
										</a>
									</div>
									<% end %>
									<div id="org-entry-map" class="org-entry-display">
									</div>
								</div>
								<div class="col l5 m12">
									<% if session[:membership] > 2 %>
										<div id="autocomplete-box" class="col s12">
											<div class="col s1">
												<i id="autocomplete-icon" class="material-icons paletton-red-text">search</i>
											</div>
											<div class="col s9">
												<input id="autocomplete-input" type="text">
											</div>
										</div>
									<% end %>
									<div id="new-entry-list">
									</div>
									<div id="org-entry-list" class="org-entry-display">
										<table id="org-table" class="highlight">
											<thead>
												<tr class="center-align">
													<th class="center-align" style="width:80%">NOMBRE</th>
													<th class="center-align" style="width:20%">TIPO</th>
												</tr>
											</thead>
											<tbody>
												<% (1..@numberOfPages).each do |x| %>
													<% ((x-1)*@page_scope..(x-1)*@page_scope+(@page_scope-1)).each do |n| %>
														<tr class="magic-row
															<% if session[:membership] > 2 %>
																clickable-row preloader-trigger
															<% end %>
															org-row-<%= x %>"
															<% unless x == 1 %>
																style="display:none"
															<% end %>
																data-href="/organizations/show/<%= @alliedCartels[n].id %>">
															<td>
																<div class="valign-wrapper">
																	<div class="pseudo-button valign-wrapper">
																		<i class="tiny material-icons right-min-margin <%= @colorArr[n] %> lighten-3 <%= @colorArr[n] %>-text text-lighten-3 z-depth-1">brightness_1</i>
																	</div>
																	<span class="valign-wrapper">
																		<%= @alliedCartels[n].name %><% if @checkedStates.length == 1 %><% if @undefined.include? @alliedCartels[n] %>*<% end %><% end %>
																	</span>
																</div>		
															</td>
															<td><%= @alliedCartels[n].league %></td>
														</tr>
													<% end %>
												<% end %>
												<% (@numberOfPages*@page_scope..@n).each do |n| %>
													<% x = @numberOfPages+1 %>
													<tr class="magic-row
														<% if session[:membership] > 2 %>
															clickable-row preloader-trigger
														<% end %>
														org-row-<%= x %>"
														<% unless x == 1 %>
															style="display:none"
														<% end %>
															data-href="/organizations/show/<%= @alliedCartels[n].id %>">
														<td>
															<div class="valign-wrapper">
																<div class="pseudo-button valign-wrapper">
																	<i class="tiny material-icons right-min-margin <%= @colorArr[n] %> lighten-3 <%= @colorArr[n] %>-text text-lighten-3 z-depth-1">brightness_1</i>
																</div>
																<span class="valign-wrapper">
																	<%= @alliedCartels[n].name %><% if @checkedStates.length == 1 %><% if @undefined.include? @alliedCartels[n] %>*<% end %><% end %>
																</span>
															</div>		
														</td>
														<td><%= @alliedCartels[n].league %></td>
													</tr>
												<% end %>
												<% if @checkedStates.length == 1 %>
													<% unless @undefined.empty? %>
														<tr>
															<td>*Información de presencia por municipio todavía no disponible para <%= State.find(@checkedStates.last).name %>.</td>
														</tr>
													<% end %>
												<% end %>
											</tbody>
										</table>
										<br>
										<% unless @n <= @page_scope %>
											<div id="org-paginator" class="center">
												<a id="back-two-pages" class="btn-small page-btn bold center-align white paletton-grey-text p18" style="display:none"><</a>
												<% (1..@numberOfPages+1).each do |x| %>
													<a id="page-<%= x%>-marker" class="btn-small page-btn page-number-button bold center-align
														<% if x == 1 %>
															active-page  paletton-red white-text
														<% else %> 
															white paletton-grey-text 
														<% end %>
													" 
														<% if x > 2 %>
															style="display:none"
														<% end %>
													data="<%= x %>" dataPlus="<%= @numberOfPages+1 %>" ><%= x %></a>
												<% end %>
												<% unless @numberOfPages < 2 %>
													<a id="forward-two-pages" class="btn-small white page-btn bold center-align paletton-grey-text p18">></a>
												<% end %>
											</div>
										<% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
<!-- 		<div class="col l9 m7 s12">-->			

<!-- 		</div>
 -->	</div>
</div>
<!-- MODAL SECTION -->
<% if session[:empty_query]	%>
	<div id="empty-query-modal" class="modal">
		<div class="modal-content">
			<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
			<p class="p14 slim">La búsqueda no generó ningún resultado.</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
<% end %>
<!-- HELP MODAL -->
<% if @user.organization_help %>
	<div id="organization-help-modal" class="modal">
		<%= render "shared/organizationshelp" %>
	</div>
<% end %>
<div id="organization-help-modal-2" class="modal">
	<%= render "shared/organizationshelp" %>
</div>
<!-- INFO MODAL -->
<div id="organizations-info-modal" class="modal large-modal">
	<div class="modal-content">	
		<div class="row">
			<div class="col s12">
				<div class="right"><%= image_tag "optimized_logo.jpg", :class => "modal-logo"%></div>
			</div>
		<div>
		</div class="row">
			<div class="col s12">
				<h6>Presencia reportada de organizaciones criminales</h6>
				<br>
				<p>Se refiere a la presencia territorial reportada de grupos con una identidad y estructura establecidas, que participen en una o varias de las siguientes actividades:</p>
				<ul>
					<% @allActivities.each do |activity| %>
						<% unless activity[:name] == "General" %>
							<li class="padding-left">
								<% if activity[:shortname] %>
									-<%= activity[:shortname] %>
								<% else %>
									-<%= activity[:name] %>
								<% end %>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
</div>
<!-- COALITION INFO MODAL -->
<div id="coalition-info-modal" class="modal large-modal">
	<div class="modal-content">	
		<div class="row">
			<div class="col s12">
				<div class="right"><%= image_tag "optimized_logo.jpg", :class => "modal-logo"%></div>
			</div>
		<div>
		</div class="row">
			<div class="col s12">
				<h6>Coaliciones</h6>
				<br>
				<p>Las organizaciones criminales identificadas por Lantia Intelligence se clasificaron en dos grandes coaliciones, correspondientes a los dos cárteles con presencia territorial nacional que actualmente existen en México: el <% if session[:membership] > 2 %><a class="paletton-red-text" href="/organizations/show/<%= Organization.where(:name=>"Cártel de Sinaloa").last.id %>">Cártel de Sinaloa</a> y el <a class="paletton-red-text" href="/organizations/show/<%= Organization.where(:name=>"Cártel Jalisco Nueva Generación").last.id %>">Cártel Jalisco Nueva Generación</a><% else %>Cártel de Sinaloa y el Cártel Jalisco Nueva Generación<% end %>. Dentro de cada coalición se incluyen a todas las mafias y bandas que tienen una relación de alianza o subordinación, directa o indirecta, con el cártel correspondiente.</p>
				<br>
				<p>Las organizaciones que no forman parte de ninguna de las dos coaliciones se identifican como "Sin coalición".</p>
				<br>
				<p>Por último, en los mapas se señalan en rojo los estados o municipios en los que hay presencia tanto de alguna organización de la coalición del Cártel de Sinaloa, como de alguna organización de la coalición del Cártel Jalisco Nueva Generación.</p>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
</div>