<% provide :head_tags do %>
    <script>

    
    $(document).ready(function() {

		$("#entry-grid-trigger").click(function() {
			$(".geo-entry-display").hide();
			$('#entry-grid').show();
			$.get(
				'/queries/mapOff/'
				)
				return false
			})

		$("#entry-map-trigger").click(function() {
			$(".geo-entry-display").hide();
			$("#entry-map").show();
			$.get(
				'/queries/mapOn/'
				)
				return false
			})

		<% if session[:map] == true %>
			$.get(
				'https://maps.googleapis.com/maps/api/geocode/json?components=country:MX|postal_code:<%= @zip %>&key=<%= @key %>',
				$(this).serialize(),
				function(data) {
					var coords = data.results[0].geometry.location; 

					function initMap() {
						var zip_code = {lat: coords.lat, lng: coords.lng};
						// var zip_code2 = {lat: 19.427207, lng: -99.190063}; 
						var map = new google.maps.Map(
							document.getElementById('map'), {zoom: 4.2, center: zip_code});
							<% @leadArr.each do |lead| %>
								<% if lead[:geo] == true %>
									
									var contentString = '<div id="content">'+
									  	'<p>'+
											'<%= lead[:myObject].event.event_date.strftime("%d/%m/%Y") %>'+
										'</p>'+
										'<p>'+
											<% unless lead[:myObject].event.town.name == "Sin definir" %>
												'<%= lead[:myObject].event.town.name %>'+', '+
											<%end%>
											<% unless lead[:myObject].event.town.county.name == "Sin definir" %>
												'<%= lead[:myObject].event.town.county.name %>'+', '+
											<%end%>	 
											'<%= lead[:myObject].event.town.county.state.shortname %>'+
										'</p>'+
										'<p>'+
											'<%= lead[:myObject].category %>'+		  
									  '</p>'+
									  '</div>';

									var marker<%= lead[:counter] %> = new google.maps.Marker({
										position: {
											lat: <%= lead[:lat]%>,
											lng: <%= lead[:lng]%>
										},
										map: map,
										// animation: google.maps.Animation.DROP
										optimized: false
									});

									var infowindow<%= lead[:counter] %> = new google.maps.InfoWindow({
									    content: contentString
									  });

									marker<%= lead[:counter] %>.addListener('click', function() {
									    infowindow<%= lead[:counter] %>.open(map, marker<%= lead[:counter] %>);
									  });

								<% end %>
							<% end %>
						}
						initMap();
					}
				)
		<% end %>

		var data = [
			<% if @racketStates.length != 1 %>
				<% @racketStates.each do |state| %>
					{
						code: '<%= state.code %>',
						value: 1
					},
				<% end %>
			<% else %>
				<% @racketCounties.uniq.each do |county| %>
					{
						full_code: '<%= county.full_code %>',
						value: 1
					},
				<% end %>			
			<% end %>
		];
		Highcharts.getJSON(
			<% if @racketStates.length != 1 %>
				'/maps/national_map.json',
			<% else %>
				'/maps/<%= State.find(@racketStates.last.id).code %>.geojson',
			<% end %>
			function (geojson) {
				Highcharts.mapChart('general-map', {
			        chart: {
			            map: geojson,
			            height: 380,
				        style: {
				            fontFamily: 'Montserrat'
				        },
			        },
			        legend: false,
			        title: false, 
			        credits: false,
			        mapNavigation: {
			            enabled: false,
			        },
					exporting: {
						enabled: true
					},
					colorAxis: {
			            	dataClasses: [{
				                to: 1000000000,
				                color: "<%= @coalitionColor %>"
				            }]
					},
			        <% if @racketStates.length != 1 %>
				        plotOptions: {
				        	series: {
				        		point: {
				        			events: {
				        				<% if session[:membership] > 3 %>
					        				click: function() {
					        					$('.geo-distribution-display').hide();
					        					$('#'+this.code+'-org-map').show();
				        				}
				        			<% end %>
				        			}
				        		}
				        	}
				        },
				    <% end %>
			        series: [{
			            data: data,
			            <% if @racketStates.length != 1 %>
			            	joinBy: 'code',
			            <% else %>
			            	joinBy: 'full_code',
			            <% end %>
		            	name: 'Organizaciones',
			            borderColor: 'white',
			            borderWidth: 1,
			            nullColor: '#e0e0e0',
			            states: {
			                hover: {
			                    color: '#ffffff',
				                borderColor: '#424242'
			                }
			            },
			            <% if @racketStates.length != 1 %>
			            	<% if session[:membership] > 3 %>
			            	cursor: 'pointer',
			            	<% end %>
			            <% end %>
			            tooltip: {
			            	borderWidth: 0,
			            	headerFormat: '<span style="font-size:14px; color:#454157">{point.key}</span><br>',
			            	pointFormat: false,
			            	style: {
			            		pointerEvents: 'auto'
			            	},
			            },
			        }],
			    })
			}
		)

		// SECONDARY MAPS
		<% if @racketStates.length != 1 %>
			<% @racketStates.each do |state| %>
				var <%= state.shortname %>Data = [
					<% @racketCounties.uniq.each do |county| %>
						{
							full_code: '<%= county.full_code %>',
							value: 1
						},
					<% end %>			
				];
				Highcharts.getJSON(
					'/maps/<%= state.code %>.geojson',
					function (geojson) {
						Highcharts.mapChart('<%= state.code %>-inner-org-map', {
					        chart: {
					            map: geojson,
					            height: 380,
					        },
					        legend: false,
					        title: false, 
					        credits: false,
					        mapNavigation: {
					            enabled: false,
					        },
							exporting: {
								enabled: true
							},
							colorAxis: {
					            	dataClasses: [{
						                to: 1000000000,
						                color: "<%= @coalitionColor %>"
						            }]
							},
					        series: [{
					            data: <%= state.shortname %>Data,
					            joinBy: 'full_code',
				            	name: 'Organizaciones',
					            borderColor: 'white',
					            borderWidth: 1,
					            nullColor: '#e0e0e0',
					            states: {
					                hover: {
					                    color: '#ffffff',
						                borderColor: '#424242'
					                }
					            },
					            tooltip: {
					            	borderWidth: 0,
					            	headerFormat: '<span style="font-size:14px; color:#454157">{point.key}</span><br>',
					            	pointFormat: false,
					            	style: {
					            		pointerEvents: 'auto'
					            	},
					            },
					        }],
					    })
					}
				)
			<% end %>
		<% end %>
    	window.addEventListener("DOMContentLoaded", function(){        
		}
	)
})
    </script>
<% end %>
<div class="row">
	<%= render "shared/organizationsdashboard"%>
	<div class="entry col l9 m7 s12">
		<div class="row">
			<div class="col l5 s12">
				<div class="row">
					<div class="left-extra-margin">
						<%= render "shared/showfilter"%>
					</div>					
				</div>
				<div class="row">
					<div class="left-extra-margin">
						<div class="s12">
							<div class="back-button-box">
								<a href="/organizations/back_query" class="preloader-trigger">
									<i class="material-icons paletton-red-text right-extra-margin">arrow_back</i>
								</a>
							</div>
							<div class="after-back-button-box">
								<h5 class="h5-no-margin"><%= @headerTitle %></h5>
								<% if @myOrganization.acronym %>
									<p>(<%= @myOrganization.acronym %>)</p>
								<% end %>
								<br>
								<% unless @myOrganization.mainleague.nil? %>
									<div class="chip white z-depth-2 ">
										<span class="valign-wrapper"><%= @myOrganization.mainleague.name %>
											<a class="modal-trigger" href="#entry-mainleague-modal">
												<i class="material-icons paletton-red-text right">info</i>
											</a>
										</span>	
									</div>
								<% end %>
								<% unless @myOrganization.thissubleague.nil? %>
									<div class="chip white z-depth-2 ">
										<span class="valign-wrapper"><%= @myOrganization.thissubleague.name %>
											<a class="modal-trigger" href="#entry-subleague-modal">
												<i class="material-icons paletton-red-text right">info</i>
											</a>
										</span>	
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div id="tree-entry-content" class="entry-content">			
					<ul class="collapsible z-depth-0">
						<% if @originOrganization %>
							<li class="">
								<div class="collapsible-header">
									<h6><a href="/organizations/show/<%= @originOrganization.id %>">Origen: <%= @originOrganization.name %></a></h6>
								</div>
							</li>
						<% elsif @thisString %>
							<li>
								<div class="collapsible-header">
									<h6 class="not-clickable">Origen: <%= @thisString %></h6>
								</div>
							</li>
						<% end %>
						<% unless @aliasSections[0].nil? %>
							<li>
								<div class="collapsible-header">
									<h6>Otras denominaciones</h6>
								</div>
								<div class="collapsible-body">
									<% @aliasSections[0][:records].each do |record| %>
										<% if @aliasSections[0][:links] == true%>
											<% if record.is_a? (Integer) %>
												<p><a href="/organizations/show/<%= record %>"><%= Organization.find(record).name%></a></p>
											<% else%>
												<p><a href="/organizations/show/<%= record.id %>"><%= record.name %></a></p>
											<%end %>
										<% else %>
											<p><%= record %></p>
										<% end %>
									<% end %>
								</div>
							</li>
						<% end %>
						<% unless @singleSections[0].nil? %>
							<li>
								<div class="collapsible-header">
									<h6 class="valign-wrapper"><a href="/organizations/show/<%= @singleSections[0][:record].id %>"><%= @singleSections[0][:title] %><%= @singleSections[0][:record].name%></a></h6>
								</div>
								<div class="collapsible-body">
									
								</div>
							</li>
						<% end %>
						<% @treeSections.each do |section| %>
							<li>
								<div class="collapsible-header">
									<h6><%= section[:title] %></h6>
								</div>
								<div class="collapsible-body">
									<% section[:records].each do |record| %>
										<% if section[:links] == true%>
											<% if record.is_a? (Integer) %>
												<p class="valign-wrapper"><a href="/organizations/show/<%= record %>"><%= Organization.find(record).name%></a></p>
											<% else%>
												<a href="/organizations/show/<%= record.id %>"><p class="valign-wrapper"><%= record.name %></a></p>
											<%end %>
										<% else %>
											<p><%= record %></p>
										<% end %>
									<% end %>
								</div>
							</li>
						<% end %>
						<li class="active">
							<div class="collapsible-header">
								<h6>Giros delictivos</h6>
							</div>
							<div class="collapsible-body">
								<% @myActivities.each do |activity| %>
									<% unless activity.shortname.nil? %>
										<p><i class="material-icons right-extra-margin">check</i><%= activity.shortname %></p>
									<% else %>
										<p><i class="material-icons right-extra-margin">check</i><%= activity.name %></p>
									<% end %>
								<% end %>
							</div>
						</li>
					</ul>
				</div>
			</div>
		<div id="geo-entry-content" class="col l7 m12 s12">
			<div class="card full-height z-depth-0">
				<div class="row">
					<div class="col s12">
						<div class="tabs-padding">
							<ul class="tabs">
								<li class="tab col s6"><a href="#geo-distribution" class="paletton-red-text">Presencia</a></li>
								<li class="tab col s6"><a href="#reported-activities" class="paletton-red-text">Reportes</a></li>
							</ul>
						</div>
					</div>	
					<div class="col s12">
						<div id="geo-distribution">
							<% if session[:membership] > 3 %>
								<% unless @racketStates.length == 1 %>
									<div class="col s2">
										<a id="back-to-general-map" href="#">
											<img src="/assets//mx-icon.png" class="mexico-icon">
										</a>
									</div>
									<% if @racketStates.length < 5 %>
										<div class="col s10">
											<div class="row state-selector-row">
												<% @racketStates.each do |state| %>
													<div class="col s3 center">
														<div class="">
														<a id="state-map-<%= state.code %>" class="go-to-state-map" href="#">
															<span class="p12 bold"><%= state.shortname.upcase %></span>
														</a>
														</div>
													</div>
												<% end %>
											</div>
										</div>
									<% end %>
								<% end %>
							<% end %>
							<div class="col s12">
								<div id="general-map" class="geo-distribution-display">
								</div>
								<% unless @racketStates == 1 %>
									<% @racketStates.each do |state| %>
										<% if @racketCounties.where.not(:name=>"Sin definir").pluck(:state_id).include? state.id %>
											<div id="<%= state.code %>-org-map" class="geo-distribution-display second-map">
												<div id="<%= state.code %>-inner-org-map"></div>
											</div>
										<% else %>
											<div id="<%= state.code %>-org-map" class="geo-distribution-display second-map">
												<br>
												<p class="center-align">
													<i class="small material-icons">warning</i>
													<br>
													Información de presencia por municipio de <%= @myOrganization.name %> todavía no disponible para <%= state.name%>.
												</p>
											</div>
										<% end %>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
					<div class="col s12">
						<div id="reported-activities">
<!-- 							<div class="right col s9">
								<div class="right">
									<a id="entry-grid-trigger" href=""><i class="small material-icons paletton-red-text right-extra-margin">list</i></a>
									<a id="entry-map-trigger" href=""><i class="small material-icons paletton-red-text right-extra-margin">map</i></a>	
								</div>
							</div> -->
							<div id="entry-grid" class="geo-entry-display">
								<div id="grid-collection" class="card-content">
									<% @leads.each do |lead| %>				
										<p class="collection-item">
											<span><%= lead.category%></span><br>
											<%= I18n.l(lead.event.event_date, :format=> "%-d de %B de %Y") %>,<br>
											<% if lead.event.town.name != "Sin definir" %>
												<%= lead.event.town.name %>, <%= lead.event.town.county.shortname %>, <%= lead.event.town.county.state.shortname %>:
											<% else %>
												<% if lead.event.town.county.name != "Sin definir" %>
													<%= lead.event.town.county.shortname %>, <%= lead.event.town.county.state.shortname %>.
												<% else %>
													<%= lead.event.town.county.state.name %>.
												<% end %>
											<%end%>	 
										</p>	
									<% end %>
								</div>
							</div>
<!-- 							<div id="entry-map" class="geo-entry-display">
								<div id="map"></div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL SECTION -->
<div id="entry-mainleague-modal" class="modal">
	<div class="entry-modal">
		<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
		<h5><%= @myOrganization.mainleague.name %></h5>
		<p class="p20 slim"><%= @myOrganization.mainleague.description %></p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
	</div>
</div>
<% if @myOrganization.thissubleague %>
	<div id="entry-subleague-modal" class="modal">
		<div class="entry-modal">
			<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
			<h5><%= @myOrganization.thissubleague.name %></h5>
			<p class="p20 slim"><%= @myOrganization.thissubleague.description %></p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
<% end %>
<div id="organization-help-modal-2" class="modal">
	<%= render "shared/organizationshelp" %>
</div>



