<!DOCTYPE html>
<html>
    <head>
        <title>Lantiamaster</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">

        <%= wicked_pdf_stylesheet_link_tag "application" %>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
  <body>
    <div class="b-container">
      <br>
      <div class="row white"> 
        <div class="valign-wrapper">
<!--           <img src="app/assets/optimized_logo.jpg" class="col s4"> -->
          
          <div class="left">
          <% if session[:user_id] %>
            <%= render "shared/slidenavbar"%>
          <% end %>
          </div>

          <div>
            <%= image_tag "optimized_logo.jpg", :class => "col m4 s7" %>
          </div>
          <% if session[:user_id] %>
<!--             <div>
              <div class="input-field">
                <input type="text" id="organization-autocomplete" class="autocomplete">
                <label for="organization-autocomplete">Autocomplete</label>
              </div>
            </div> -->
            <div class="col s2 right">
                <a href="/organizations/logout" class="right tooltipped" data-position="bottom" data-tooltip="Cerrar sesión">
                  <i class="small material-icons cyan-text text-accent-4 right-extra-margin">exit_to_app</i>
                </a>
                <a href="/organizations/main" class="right tooltipped" data-position="bottom" data-tooltip="Consulta interactiva de datos">
                  <i class="small material-icons cyan-text text-accent-4 right-extra-margin">search</i>
                </a>
            </div>
        <% end %>
        </div>
      </div>
      <div>
          <%= yield %>
      </div>
    </div>
      <footer class="page-footer cyan lighten-3 black-text">
        <div class="container">
        <div class="row footer-row">
          <div class="valign-wrapper">
            <div class="col l4 m6">
              <a href="https://twitter.com/LantiaIntel"><%= image_tag "twitter_icon", :class => "footer-icon" %></a> 
              <a href="https://www.linkedin.com/company/lantia-consultores/"><%= image_tag "linkedin_icon", :class => "footer-icon" %></a> 
            </div>
            <div class="col l8 l6">
              <p class="small-text right-align">ESTRATEGIA, DECISIONES Y MEJORES PRÁCTICAS S.C.
                PASEO DE LA REFORMA 389, PISO 12, CDMX, CP. 06500.</p>
              <p class="small-text"></p>
            </div>
          </div>
        </div>
        </div>
      </footer>
  </body>
</html>
