<!DOCTYPE html>
<html>
    <head>
        <title>Lantiamaster</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">

        <%= wicked_pdf_stylesheet_link_tag "application" %>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
  <body>
    <div class="container">
      <br>
      <div class="row white"> 
        <div class="valign-wrapper">
<!--           <img src="app/assets/optimized_logo.jpg" class="col s4"> -->
          
          <div class="left">
          <% if session[:user_id] %>
            <%= render "shared/slidenavbar"%>
          <% end %>
          </div>

          <div>
            <%= image_tag "optimized_logo.jpg", :class => "col s4" %>
          </div>
          <% if session[:user_id] %>
            <div class="col s2 right">
                <a href="/organizations/logout" class="right tooltipped" data-position="bottom" data-tooltip="Cerrar sesión">
                  <i class="small material-icons cyan-text text-accent-4 right-extra-margin">exit_to_app</i>
                </a>
                <a href="/organizations/main" class="right tooltipped" data-position="bottom" data-tooltip="Consulta interactiva de datos">
                  <i class="small material-icons cyan-text text-accent-4 right-extra-margin">search</i>
                </a>
            </div>
        <% end %>
        </div>
      </div>
      <div>
          <%= yield %>
      </div>
      <footer class="page-footer cyan darken-3">
        <div class="row">
          <div class="col l4 offset-l1 s12">
            <h6>Recursos</h6>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Aviso de privacidad</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Facturación</a></li>
            </ul>
          </div>
          <div class="col l6 s12">
            <br>
            <p class="grey-text text-lighten-4 small-text right-align">ESTRATEGIA, DECISIONES Y MEJORES PRÁCTICAS S.C.
              <br>
              PASEO DE LA REFORMA 389, PISO 12, CDMX, CP. 06500.</p>
            <p class="grey-text text-lighten-4 small-text"></p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
<!--         © 2014 Copyright Text
 -->        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </footer>
    </div>
  </body>
</html>
