<!DOCTYPE html>
<html>
    <head>
        <title>Lantia Intelligence | Plataforma</title>
        <meta charset="UTF-8">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet"
            type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
            integrity="sUbL2A+2oJ+mNbUpTkeSUcpwQLlpAbSfDFn8BzmnZXML6ZVMioYnq6rV1MaAIHKM"
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            >
        <link rel="icon" type="image/png" href="/assets/favicon.png">
        <% if defined?(request) && request.format.pdf? %>
          <%= wicked_pdf_stylesheet_link_tag "application" %>
        <% else %>
          <%= stylesheet_link_tag "application", media: "all" %>
        <% end %>
        <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+"AIzaSyBWd0Mv-5p6ARfMQTRyC3pmNPuMucGL2i4" %>
        <%= yield(:head_tags) %>
    <script src="https://cdn.jsdelivr.net/npm/highcharts@10.3.3/highmaps.min.js"
            integrity="sha384-kbifPG/lJ5vFRWNT78UUQ7dfgk84q9UbLgJBogK3au3tP/YtKcKeJvbEZW7fSdgr"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts@10.3.3/modules/data.min.js"
            integrity="sha384-GJJo72hpvGmUSNn4CrAmsSiyg25a4thIU8A4sRu0ZoXcEOW3vOuNu7hNzfpB0Iye"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts@10.3.3/modules/exporting.min.js"
            integrity="sha384-67fw1IRwhpLUo8nsUJt7N+nq0+Sm5B9zjJvrpfuiglE5ZVPM3PFlX2H9QCAYPNZW"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts@10.3.3/modules/offline-exporting.min.js"
            integrity="sha384-FSoeQDp3Xbq4ux4n0yAKPAoJYrlAC0Don2CZQyrHcE4ty55UpKJ+/VJM8cUa/YsT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.3/proj4.js"
        integrity="FEOMiFzIvvJnvPYTN0QHPLvMi1AnHs7cWqQhXZQ0JzML4bbwaxdZp3Mpo+/kI8uy"
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <main>
            <div class="b-container">
                <br>
                <div class="row short-row"> 
                    <div class="">
                        <div class="left">
                            <% if session[:user_id] %>
                                <%= render "shared/slidenavbar"%>
                            <% end %>
                        </div>
                        <% if @organizations == true %>
                            <div class="right">
                                <a href="#organization-help-modal-2" class="modal-trigger"><i class=" material-icons paletton-grey-text right-extra-margin">help_outline</i></a>
                            </div>
                        <% end %>
    <!--                     <% if session[:user_id] %>
                            <div class="col s2 right">
                                <a href="/organizations/logout" class="right tooltipped" data-position="bottom" data-tooltip="Cerrar sesión">
                                    <i class="small material-icons paletton-red-text right-extra-margin">exit_to_app</i>
                                </a>
                            </div>
                        <% end %> -->
                    </div>
                </div>
                <div id="preloader">
                    <%= image_tag "spin-lantia.gif", :class => "loader-image"%>
                </div>
                <div class="row">
                    <%= yield %>
                </div>
            </div>
        </main>
        <%= render "shared/footer"%>
    </body>
</html>
