<!DOCTYPE html>
<html>
    <head>
        <title>Lantiamaster</title>
        <meta charset="UTF-8">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">

        <%= wicked_pdf_stylesheet_link_tag "application" %>
        <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+"AIzaSyBWd0Mv-5p6ARfMQTRyC3pmNPuMucGL2i4" %>
        <%= yield(:head_tags) %>
        <script src="https://code.highcharts.com/maps/highmaps.js"></script>
        <script src="https://code.highcharts.com/maps/modules/data.js"></script>
        <script src="https://code.highcharts.com/maps/modules/data.js"></script>
        <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.3/proj4.js"></script>      
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="b-container">
            <br>
            <div class="row"> 
                <div class="valign-wrapper">
                    <div class="left">
                        <% if session[:user_id] %>
                            <%= render "shared/slidenavbar"%>
                        <% end %>
                    </div>
                    <% if session[:user_id] %>
                        <div class="col s2 right">
                            <a href="/organizations/logout" class="right tooltipped" data-position="bottom" data-tooltip="Cerrar sesión">
                                <i class="small material-icons paletton-red-text right-extra-margin">exit_to_app</i>
                            </a>
                        </div>
                    <% end %>
                </div>
                <%= yield %>
            </div>
        </div>
<!--         <footer class="page-footer cyan lighten-3 black-text">
            <div class="container">
                <div class="row footer-row">
                    <div class="valign-wrapper">
                        <div class="col l4 m6">
                            <a href="https://twitter.com/LantiaIntel"><%= image_tag "twitter_icon", :class => "footer-icon" %></a> 
                            <a href="https://www.linkedin.com/company/lantia-consultores/"><%= image_tag "linkedin_icon", :class => "footer-icon" %></a> 
                        </div>
                        <div class="col l8 l6">
                            <p class="small-text right-align">ESTRATEGIA, DECISIONES Y MEJORES PRÁCTICAS S.C.
                            PASEO DE LA REFORMA 389, PISO 12, CDMX, CP. 06500.</p>
                            <p class="small-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer> -->
    </body>
</html>
