<% provide :head_tags do %>
	<%= render "shared/freqcharts"%>
	<% unless session[:detainee_freq_params][1] == "nationWise" %>
		<%= render "shared/detentionmap"%>
	<% end %>
<% end %>
<div class="row freq-row">
	<div id="filter-dashboard" class="col l3 m5 s12 short-row hide-on-med-and-down">
		<div class="card paletton-grey">
			<div class="full-height">
				<form id="detainee_freq_table" class="freq_filer_form" action="/members/query" method="post">
				<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<div class="card-narrow">
						<div class="card-content white-text">
							<%= render "shared/hidefilter"%>
							<div class="row">
								<div cass="col s12">
									<ul class="tabs paletton-red-tabs">
										<li class="tab col s6"><a class="paletton-red-text" href="#detainee_freq_params">ANÁLISIS</a></li>
										<li class="tab col s6"><a class="paletton-red-text" href="#detainee_freq_filters">FILTROS</a></li>
									</ul>
								</div>
							</div>
							<div id="detainee_freq_params">
								<div class="row">
									<div class="col s12">
										<div class="query-header-box valign-wrapper white-text">
											<i class="material-icons">today</i><p class="query-header">Temporal</p>
										</div>
										<div id="detainee_freq_timeframe_selector">
									    	<% @timeFrames.each do |query| %>
												<p class="input-padding">
													<label>
														<input  id="<%= query[:box_id] %>" name="query[freq_timeframe]" value="<%= query[:name] %>" type="radio"
															<% if query[:checked]%>
																checked
															<% end %>
														/>
														<span class="white-text p12"><%= query[:caption] %></span>
													</label>
												</p>
									    	<% end %>
									    </div>
									</div>
								</div>
								<div id="geo_query_box" class="row">
									<div class="col s12">
									    <div class="query-header-box valign-wrapper white-text">
											<i class="material-icons">map</i><p class="query-header">Geográfico</p>
										</div>
										<div id="detainee_freq_placeframe_selector">
									    	<% @placeFrames.each do |query| %>
												<p class="input-padding">
													<label>
														<input  id="<%= query[:box_id] %>" name="query[freq_placeframe]" value="<%= query[:name] %>" type="radio"
															<% if query[:checked]%>
																checked
															<% end %>
														/>
														<span class="white-text p12"><%= query[:caption] %></span>
													</label>
												</p>
									    	<% end %>
									    </div>
									</div>
							    </div>
								<div id="organization_query_box" class="row">
									<div class="col s12">
									    <div class="query-header-box valign-wrapper white-text">
											<i class="material-icons">group</i><p class="query-header">Organización</p>
										</div>
										<div id="detainee_freq_organizationframe_selector">
									    	<% @organizationFrames.each do |query| %>
												<p class="input-padding">
													<label>
														<input  id="<%= query[:box_id] %>" name="query[freq_organizationframe]" value="<%= query[:name] %>" type="radio"
															<% if query[:checked]%>
																checked
															<% end %>
														/>
														<span class="white-text p12"><%= query[:caption] %></span>
													</label>
												</p>
									    	<% end %>
									    </div>
									</div>
							    </div>
								<div id="role_query_box" class="row">
									<div class="col s12">
									    <div class="query-header-box valign-wrapper white-text">
											<i class="material-icons">contacts</i><p class="query-header">Posición</p>
										</div>
										<div id="detainee_freq_roleframe_selector">
									    	<% @roleFrames.each do |query| %>
												<p class="input-padding">
													<label>
														<input  id="<%= query[:box_id] %>" name="query[freq_roleframe]" value="<%= query[:name] %>" type="radio"
															<% if query[:checked]%>
																checked
															<% end %>
														/>
														<span class="white-text p12"><%= query[:caption] %></span>
													</label>
												</p>
									    	<% end %>
									    </div>
									</div>
							    </div>
							</div>
							<div id="detainee_freq_filters" class="filter-box">
								<div class="row">
									<div class="col s12">
										<ul class="collapsible z-depth-0">
											<li id="state-collapsible-tab"
												<% if session[:detainee_freq_params][1] == "nationWise" %>
													class="collapsible-disabled"
												<% end %>
											>
												<div class="collapsible-header paletton-grey white-text">
													<i class="material-icons tiny">map</i>
													ESTADOS
												</div>
												<div id="state_filter_box" class="collapsible-body paletton-grey">
													<div class="row">
														<div class="col s3">
															<%= render "shared/filterbuttons"%>
														</div>
														<div class="col s9 checkbox-scroll">
															<% @states.each do |state|%>
																<div class="col s6">	
																	<p>
																		<label>
																			<input type="checkbox" name="query[freq_states][]" value="<%= state["id"] %>" 
																				<% if @checkedStates.include? state["id"] %>	
																					checked
																				<% end %>
																			/>
																			<span class="white-text"><%= state["shortname"] %></span>
																		</label>
																	</p>
																</div>
															<% end %>
														</div>
													</div>
												</div>
											</li>
											<li id="organization-collapsible-tab"
												<% if session[:detainee_freq_params][2] == "noOrganizationSplit" %>
													class="collapsible-disabled"
												<% end %>
											>
												<div class="collapsible-header paletton-grey white-text">
													<i class="material-icons tiny">group</i>
													ORGANIZACIONES
												</div>
												<div id="organization_filter_box" class="collapsible-body paletton-grey">
													<div class="row">
														<div class="col s3">
															<%= render "shared/filterbuttons"%>
														</div>
														<div class="col s9 checkbox-scroll">
															<% @organizations.each do |organization|%>
																<div class="col s12">	
																	<p>
																		<label>
																			<input type="checkbox" name="query[freq_organizations][]" value="<%= organization %>" 
																				<% if @checkedOrganizations.include? organization %>	
																					checked
																				<% end %>
																			/>
																			<span class="white-text"><%= organization %></span>
																		</label>
																	</p>
																</div>
															<% end %>
														</div>
													</div>
												</div>
											</li>
											<li id="role-collapsible-tab"
												<% if session[:detainee_freq_params][3] == "noRoleSplit" %>
													class="collapsible-disabled"
												<% end %>
											>
												<div class="collapsible-header paletton-grey white-text">
													<i class="material-icons tiny">contacts</i>
													POSICIONES
												</div>
												<div id="role_filter_box" class="collapsible-body paletton-grey">
													<div class="row">
														<div class="col s3">
															<%= render "shared/filterbuttons"%>
														</div>
														<div class="col s9 checkbox-scroll">
															<% @roles.each do |role|%>
																<div class="col s12">	
																	<p>
																		<label>
																			<input type="checkbox" name="query[freq_roles][]" value="<%= role.id %>" 	<% if @checkedRoles.include? role.id.to_s %>
																					checked
																				<% end %>
																			/>
																			<span class="white-text"><%= role.name %></span>
																		</label>
																	</p>
																</div>
															<% end %>
														</div>
													</div>
												</div>
											</li>	
										</ul>
									</div>
								</div>
							</div>
						</div>
						<%= render "shared/sendmagicbutton" %>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col l9 m12 s12 short-row">
	<div class="header-div">
		<div class="row top-row valign-wrapper">
			<div class="col m8 s12">
				<div class="info-box inline-block">
					<a id="detainees-info-modal-trigger" class="modal-trigger" href="#detainees-info-modal"><i class="small material-icons paletton-red-text right-min-margin">info</i></a>
				</div>
				<div class="info-box inline-block">
					<h5 class="h5-no-margin">Arrestos <span class="p18">(organizaciones criminales)</span></h5>
					<%= render "shared/freqdates" %>
				</div>
			</div>
			<div class="col m4 s12">
				<%= render "shared/controlpanel"%>
			</div>
		</div>
	</div>
		<div class="card flex-card">
			<div class="">
				<div class="card-content">
					<div class="row card-narrow">
						<%= render "shared/showfilter"%>					
						<div id="freq-entry-list" class="freq-entry-display"
							<% if @maps %>
								style="display: none;"
							<% end %>
						>
							<%= render "shared/downloadbutton" %>
							<table class="freq-table striped">	
								<%= render "shared/sorttable"%>
							</table>
						</div>
						<div class="small-inner-padding">
							<div id="freq-entry-map" class="freq-entry-display col s12"
								<% unless @maps %>
									style="display: none;"
								<% end %>
							>
								<div class="col m7 s12">
									<div id="detention-map">
									</div>
									<div id ="top-detentions">
										<p>Arrestos de alto perfil</p>
										<%= render "shared/detaineescollection"%>
									</div>
								</div>
								<div class="hide-on-med-and-up col s12 break-for-mobile">
								</div>
								<div id="detention-charts" class="col m5 s12">
									<% @my_freq_table[1..-2].each do |place| %>
										<div id="<%= place[:code]%>-detention-charts" class="state-detention-charts detention-toggle-charts"
											<% unless place[:code] == "00" %>
												style="display:none"
											<% end %>
										>
											<div class="valign-wrapper">
												<% unless place[:code] == "00" %>
													<i class="material-icons close-state tiny paletton-red-text right-extra-margin">close</i>
												<% end %>
												<h6>
													<%= place[:name]%>: 
													<span class="slim"><%= number_with_delimiter(place[:place_total]) %> 
														<% if place[:place_total] == 1 %>
															arresto
														<% else %>
															arrestados
														<% end %>
													</span>
												</h6>
											</div>
											<% unless place[:place_total] == 0 %>
												<br>
												<div id="<%= place[:code]%>-detainees-trend-chart"></div>
												<br>
												<div class="col s12">
													<p>Participación de autoridades</p>
													<div id="<%= place[:code]%>-detainees-agencies-chart">
													</div>
												</div>
												<div class="col s6">
													<p class="center-align">Posición</p>
													<div id="<%= place[:code]%>-detainees-role-chart" class="center">
													</div>
												</div>
												<div class="col s6">
													<p class="center-align">Coalición</p>
													<div id="<%= place[:code]%>-detainees-coalition-chart" class="center">
													</div>
												</div>
											<% end %>
										</div>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- MODAL SECTION -->
<div id="detainees-info-modal" class="modal large-modal">
	<div class="modal-content">	
		<div class="row">
			<div class="col s12">
				<div class="right"><%= image_tag "optimized_logo.jpg", :class => "modal-logo"%></div>
			</div>
		<div>
		</div class="row">
			<div class="col s12">
				<h6>Arrestos (organizaciones criminales)</h6>
				<p>Se refiere exclusivamente a miembros de alguna de las <a class="paletton-red-text" href="/organizations/query">organizaciones criminales</a> identificadas por Lantia Intelligence que fueron detenidos y posteriormente puestos a disposición de la autoridad.</p>
				<p>Actualmente incluye sólo a miembros de las siguientes organizaciones (así como de las mafias y bandas aliadas o subordinadas a ellas):</p>
				<ul>
					<% @detention_cartels.each do |cartel| %>
						<li class="padding-left">- <a class="paletton-red-text" href="/organizations/show/<%= cartel.id %>"><%= cartel.name %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- EMAIL MODAL -->
<% if session[:email_success] %>
	<div id="email-modal" class="modal">
		<div class="modal-content">
			<%= image_tag "optimized_logo.jpg", :class => "modal-logo"%>
			<p class="p20 slim">Enviamos el archivo a <span class="cyan-text bold text-darken-2"><%= @user.mail %></span>. El procesamiento del correo puede tardar algunos minutos.</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons small">close</i></a>
		</div>
	</div>
<% end %>